<link href="{#$QISHI.site_template#}css/login.css" rel="stylesheet" type="text/css" />
<div class="login_pop_box">
	<div class="ajax_login_err"></div>
	<form id="Formlogin" name="Formlogin" method="post" action="">
	<div class="content_box">
		<div class="login_err"></div>
		<div class="list">
			<input type="text" name="username" id="username" class="input_text_login_user" value="用户名/邮箱/手机号" maxlength="30" style="color:#999999;" />
			<input type="text" name="passwordtxt" id="passwordtxt" class="input_text_login_pwd" value="密码"  maxlength="30" style="color:#999999;"/>
			<input type="password" name="password" id="password" class="input_text_login_pwd" value=""  maxlength="30" style="display:none"/>
			{#if $verify_userlogin=="1"#}
			<div class="postcaptcha">
			<div id="imgdiv"></div>
			<input  class="txtinput" name="postcaptcha" id="postcaptcha" type="text" value="点击获取验证码" style="color:#999999;width:130px"/>
			</div>
			{#/if#}
		</div>
		<div class="auto">
			<div><input type="checkbox" name="autologin" id="expire" name="expire" value="7" /><span>一周内自动登录</span></div>
			<a href="{#$QISHI.site_dir#}user/user_getpass.php">忘记密码？</a>
			<a href="{#$QISHI.site_dir#}user/user_reg.php">免费注册</a>
			<div class="clear"></div>
		</div>
		<div class="input-box-waiting" id="waiting">
			正在登录中...
		</div>
		<div class="clear"></div>
		<div class="button"><input type="submit" name="submitlogin" id="login" value="立即登录" class="but_login_335" /></div>
		{#if $QISHI.qq_apiopen=="1" || $QISHI.sina_apiopen=="1"  || $QISHI.taobao_apiopen=="1"#}
		<p>使用合作网站账号登录：</p>
		<ul>
			{#if $QISHI.qq_apiopen=="1"#}
			<li><a href="{#$QISHI.site_dir#}user/{#if $QISHI.qq_logintype=='1'#}connect_qq_client.php{#else#}connect_qq_server.php{#/if#}"class="qq">QQ</a></li>
			{#/if#}
			{#if $QISHI.sina_apiopen=="1"#}
			<li><a href="{#$QISHI.site_dir#}user/connect_sina.php" class="weibo">weibo</a></li>
			{#/if#}
			{#if $QISHI.taobao_apiopen=="1"#}
			<li><a href="{#$QISHI.site_dir#}user/connect_taobao.php" class="taobao">taobao</a></li>
			{#/if#}
		</ul>
		{#/if#}
	</div>
	</form>
</div>
