<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />{#qishi_pageinfo set="列表名:page,调用:QS_index"#}
<title>{#$page.title#}</title>
<meta name="description" content="{#$page.description#}">
<meta name="keywords" content="{#$page.keywords#}">
<meta http-equiv="X-UA-Compatible" content="edge">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="找葫芦" />
<meta name="copyright" content="zhaohulu.com" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/index.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/header.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/footer.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/index_foucs.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.dropDownWidget.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.newindex.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.lazyload.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.autocomplete.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type="text/javascript" charset="utf-8"></script>
<script src="{#$QISHI.site_template#}js/dialog-min.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/dialog-min-common.js" type="text/javascript" language="javascript"></script>
<link href="{#$QISHI.site_template#}css/ui-dialog.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
jQuery(document).ready(function($) {

  //选项卡切换
  $(".n-tab-control>a").each(function(){
    $(this).click(function(){
      $(this).addClass("select"); 
      $(this).siblings("a").removeClass("select");
      var bull_index = $(".n-tab-control>a").index(this);
      $(".news-tab-box>ul").eq(bull_index).show().siblings().hide();
    })
  });
  
  //登录
  $.get('{#$QISHI.site_dir#}plus/ajax_user.php?act=loginform', function(data) {
    $("#ajax_login").html(data);
    // 选择登录方式 
    var wxrun = '';
    $('.loginicon').toggle(function(){
      $('#pcLogin').hide();
      $('#codeLogin').show();
      $('#login-box h1').html('微信登录');
      $(this).attr('title', '用户名登录');
      $(this).removeClass('wx').addClass('pc');
      {#if $QISHI.weixin_apiopen=='1' && $QISHI.weixin_scan_login=='1' && $smarty.session.username==''#}
      wxrun = window.setInterval(run, 5000);
      function run(){
          $.get("{#$QISHI.site_dir#}m/login.php?act=waiting_weixin_login",function(data){
              if(data=="1"){
                 window.location="{#$QISHI.site_dir#}";
              }
          });
      }
      {#/if#}
    }, function(){
      $('#pcLogin').show();
      $('#codeLogin').hide();
      $('#login-box h1').html('会员登录');
      $(this).attr('title', '微信登录');
      $(this).removeClass('pc').addClass('wx');
      {#if $QISHI.weixin_apiopen=='1' && $QISHI.weixin_scan_login=='1' && $smarty.session.username==''#}
      window.clearInterval(wxrun);
      {#/if#}
    });
  });
  $("#year").click(function(){
    $("#alls").hide();
    $("#years").show();
    $("#months").hide();
    $("#yestodays").hide();
    $(this).removeClass('platform-a f-left').addClass('platform-a f-left active');
    $("#month").attr('class', 'platform-a f-left');
    $("#all").attr('class', 'platform-a f-left');
    $("#yestoday").attr('class', 'platform-a f-left');
  });
  $("#month").click(function(){
    $("#alls").hide();
    $("#years").hide();
    $("#months").show();
    $("#yestodays").hide();
    $(this).removeClass('platform-a f-left').addClass('platform-a f-left active');
    $("#year").attr('class', 'platform-a f-left');
    $("#all").attr('class', 'platform-a f-left');
    $("#yestoday").attr('class', 'platform-a f-left');
  });
  $("#yestoday").click(function(){
    $("#alls").hide();
    $("#years").hide();
    $("#months").hide();
    $("#yestodays").show();
    $(this).removeClass('platform-a f-left').addClass('platform-a f-left active');
    $("#month").attr('class', 'platform-a f-left');
    $("#all").attr('class', 'platform-a f-left');
    $("#year").attr('class', 'platform-a f-left');
  });
  $("#all").click(function(){
    $("#alls").show();
    $("#years").hide();
    $("#months").hide();
    $("#yestodays").hide();
    $(this).removeClass('platform-a f-left').addClass('platform-a f-left active');
    $("#month").attr('class', 'platform-a f-left');
    $("#year").attr('class', 'platform-a f-left');
    $("#yestoday").attr('class', 'platform-a f-left');
  });
  // 左侧下拉
  $.dropDownWidget(".job-sort-wrap");
  // 首页的一些js
  index("{#$QISHI.site_dir#}","{#$QISHI.site_template#}");
  //
  $('.floor-item:first').find('.floor-title').css({'margin-top':5});
  $(".core-function").live('click', function(event) {
    window.location.href = $(this).attr("code");
  });
  if("{#$redirect_to_subsite#}"){
    dialog({
          title: '系统提示',
          content: '亲爱的用户您好：<br />我们检测到您所在地区为 <font color="#ff6600">{#$redirect_disname#}</font>，建议您切换至<br /> <a href="{#$redirect_url#}"><font color="#ff6600">{#$redirect_sitename#}</font></a>，让我们为您提供更准确的职位信息。',
          okValue:'同意',
          ok: function () {
            window.location.href="{#$redirect_url#}";
          },
          cancelValue:'取消',
          cancel: function () {
          }
      }).showModal();
  }
});
</script>
</head>
 <style>
  .hulugufirst{height:25px;width:1140px;margin-top:3px;margin-bottom:1px;margin-right:10px;margin-left:10px;border-bottom:1px solid #F5F5F5;}
  .hulugufirst .second{height:25px;line-height:25px;width:80px;float:left;font-size:12px;font-weight: normal;text-align:center;color:#666666;}
  .hulugufirst .third{height:25px;line-height:25px;width:80px;float:left;font-size:12px;text-align:center;color:#696969;}
  .hulugufirst .third a:hover{text-decoration: underline;}
  .xuanshang{margin-top:3px;margin-right:10px;margin-bottom:1px;margin-left:10px;border-bottom:1px solid #F5F5F5;height:25px;width:550px;float:left;}
  .xuanshang .one{padding-left:20px;width:290px;height:25px;line-height:25px;float:left;font-size:16px;color:#666666;}
  .xuanshang .two{width:120px;height:25px;line-height:25px;float:left;font-size:12px;color:#FF9900;}
  .xuanshang .three{width:120px;height:25px;line-height:25px;float:left;font-size:12px;color:#666666;}
  
</style>
<body {#if $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"{#/if#}>
{#include file="header2.htm"#}
<!-- 主体 -->
<div class="container-index">
  <div class="complex-main clearfix" style="margin-bottom: 4px;">
    <!--紧急招聘开始-->
        <div class="complex-left f-left">
      <div class="index-data-wrap" style="margin:0;height:492px;margin-top: 5px;">
                <div class="blue-line"></div>
                <div class="data-title-box clearfix" style="margin-bottom:10px;">
                    <h4 class="f-left">紧急招聘</h4>
                    <a href="{#"QS_jobslist"|qishi_url#}" class="f-right underline" target="_blank" style="font-size:12px;">更多>></a>
                </div>
                <div class="newest-list clearfix">
                    {#qishi_jobs_list set="列表名:jobs,显示数目:16,职位名长度:12,企业名长度:12,紧急招聘:1,排序:refreshtime>desc"#}
					{#foreach from=$jobs item=list#}
                    <div class="newest-items f-left">
                        <img original="{#$list.img_path#}" src="{#$QISHI.site_template#}images/iconji.gif" alt="{#$list.img_explain#}" width="" height="" border="0" />
                        <a href="{#$list.jobs_url#}" class="newest-com underline" style="width:100px;" target="_blank">{#$list.jobs_name#}</a>
                        <a href="{#$list.company_url#}" class="newest-job underline" style="width:90px;" target="_blank">{#$list.companyname#}</a> 
                    </div>
                    {#/foreach#}
                </div>
            </div>
    </div>
        <!--紧急招聘结束-->
    <div class="complex-center f-left" style="height:504px;width:451px;padding:0 7px;margin-top: 5px;">
          <!--轮播广告开始-->
      <div class="swipe-wrap" style="height:504px;width:451px;">
        {#qishi_ad set="显示数目:6,调用名称:QS_indexfocus,列表名:ad"#}
        <div id="playBox" style="height:504px;width:451px;" >
          <div class="pre"></div>
          <div class="next"></div>
          <div class="smalltitle" style="height:23px;width:451px;">
            <ul>
              {#section loop=$ad name=list#}
              <li {#if $smarty.section.list.first#}class="thistitle"{#/if#}></li>
              {#/section#}
            </ul>
          </div>
          <ul class="oUlplay">
             {#foreach from=$ad item=list#}
             <li>
                       <a href="{#$list.img_url#}" target="_blank">
                       <img src="{#$list.img_path#}" alt="{#$list.img_explain#}" title="{#$list.img_explain#}"  border="0" width="451" height="504"/>
                       </a>
                       </li>
             {#/foreach#}
          </ul>
        </div>
      </div>
            <!--轮播广告结束-->
    </div>
         <!--广告位开始-->
    <div class="complex-right f-left" style="width:219px;height:512px;margin-top: 5px;padding:0;">  
            {#qishi_ad set="显示数目:3,调用名称:qishi_spread,列表名:ad,文字长度:12"#}
            {#if $ad#}
            {#foreach from=$ad item=list#}
            <div class="ad-row clearfix lazyload">
                <div class="ad-item ad-full f-left"  style="width:219px;height:164px;margin-bottom:6px;">
                <a href="{#$list.img_url#}" target="_blank">
                <img original="{#$list.img_path#}" src="{#$QISHI.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" title="{#$list.img_explain#}"  style="border:1px solid #e0e0e0;" width="217" height="162" border="0" />
                </a>
                </div>
            </div>
            {#/foreach#}
            {#/if#}
    </div>
         <!--广告位结束-->
        <div class="complex-right f-left" style="width:215px;height:512px;padding:0;margin-left:7px;margin-top: 5px;">
          <div class="index-data-wrap" style="height:151px;margin-bottom: 6px;margin-top:0px;">
                <div class="blue-line"></div>
                <div class="data-title-box clearfix" style="padding-bottom:5px;">
                    <h4 class="f-left">最新公告</h4>
                    <a href="{#"QS_noticelist"|qishi_url#}" class="f-right underline" target="_blank" style="font-size:12px;">更多>></a>
                </div>
                <div class="newest-list clearfix" style="padding-bottom:0px;">
          <ul>
            {#qishi_notice_list set="列表名:notice,显示数目:6,标题长度:10,分类:1,填补字符:..."#}
            {#foreach from=$notice item=list#}
            <li class="newest-list-li"><i class="tab-icon"></i><a href="{#$list.url#}" target="_blank" title="{#$list.title_#}" class="underline">{#$list.title#}</a></li>
            {#/foreach#}
          </ul>
                </div>
            </div>

      <div class="index-data-wrap" style="height:151px;margin-bottom: 6px;margin-top:0px;">
                <div class="blue-line"></div>
                <div class="data-title-box clearfix" style="padding-bottom:5px;">
                    <h4 class="f-left">热门简历标签</h4>
                    <!--<a href="{#"QS_jobslist"|qishi_url#}" class="f-right underline" target="_blank" style="font-size:12px;">更多>></a>-->
                </div>
                <div class="newest-list clearfix" style="padding-bottom:0px;">
                   <ul>
                    {#qishi_get_classify set="列表名:resumetag,类型:QS_resumetag,显示数目:18"#}
                    {#foreach from=$resumetag item=list#}
                    <li class="newest-list-li" style="height:20px;width:55px;margin-left:5px;float:left;">
                        <i class="tab-icon"></i>
                        <a href="{#$QISHI.site_dir#}resume/resume-list.php?resumetag={#$list.id#}" target="_blank" title="{#$list.title_#}" class="underline y rm">{#$list.categoryname#}</a>
                        </li>
                    {#/foreach#}
                  </ul>
                </div>
            </div>

      <div class="index-data-wrap" style="height:151px; margin-bottom: 6px;margin-top:0px;">
                <div class="blue-line"></div>
                <div class="data-title-box clearfix" style="padding-bottom:5px;">
                    <h4 class="f-left">热门职位标签</h4>
                    <!--<a href="{#"QS_jobslist"|qishi_url#}" class="f-right underline" target="_blank" style="font-size:12px;">更多>></a>-->
                </div>
                <div class="newest-list clearfix" style="padding-bottom:0px;">
                   <ul>
          {#qishi_get_classify set="列表名:jobtag,类型:QS_jobtag,显示数目:18"#}
          {#foreach from=$jobtag item=list#}
                   <li  class="newest-list-li" style="height:20px;width:55px;margin-left:5px;float:left;">
                    <i class="tab-icon"></i>
                      <a href="{#$QISHI.site_dir#}jobs/jobs-list.php?jobtag={#$list.id#}" target="_blank" title="{#$list.title_#}" class="underline y rm"  >{#$list.categoryname#}</a>
                    </li>
          {#/foreach#}
          </ul>
                </div>
            </div>
    </div>
  </div>
  <!-- 广告位集中区域 -->
  <div class="ad-area">
    <!-- 1198*58 广告  ----------------------------每行1个共2行-->
    {#qishi_ad set="显示数目:2,调用名称:QS_indextopimg,列表名:ad,文字长度:12"#}
    {#if $ad#}
    {#foreach from=$ad item=list#}
    <div class="ad-row clearfix lazyload" style="margin-bottom:10px;">
      <div class="ad-item ad-full f-left"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$QISHI.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" title="{#$list.img_explain#}" width="1198" height="58" border="0" /></a></div>
    </div>
    {#/foreach#}
    {#/if#}
    <!-- 392*58 广告  格子广告----------------每行3个共2行-->
    {#qishi_ad set="显示数目:6,调用名称:QS_indexcentreimg,列表名:ad,文字长度:12"#}
    {#if $ad#}
    <div class="ad-row clearfix lazyload">
      {#foreach from=$ad item=list#}
      <div class="ad-item ad-31 f-left comimgtip">
        <a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$QISHI.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" title="{#$list.img_explain#}" width="392" height="58" border="0" /></a>
        {#if $list.jobs#}
        <div class="ad-more-info info31" style="display: none;">
          <div class="ad-placeholder"></div>
          <ul class="ad-job-list">
            {#foreach from=$list.jobs item=jobs_li#}
            <li class="clearfix"><div class="jobname f-left"><a href="{#$jobs_li.jobs_url#}" class="underline" target="_blank">{#$jobs_li.jobs_name#}</a></div><div class="jobpay f-left"><span>{#$jobs_li.wage_cn#}</span></div><div class="jobnarea f-left">{#$jobs_li.district_cn#}</div></li>
            {#/foreach#}
          </ul>
          <div class="ad-com-info">
            <div class="companyname"><a href="{#$list.company_url#}" class="underline" target="_blank">{#$list.companyname#}</a></div>
            <p>{#$list.briefly#}</p>
          </div>
          <a href="{#$list.company_url#}" class="ad-more" target="_blank">查看更多内容>></a>
        </div>
        {#/if#}
      </div>
      {#/foreach#}
    </div>
    {#/if#}
    <!-- 230x58 广告  格子广告------------ 每行5个共2行-->
    {#qishi_ad set="显示数目:10,调用名称:QS_indexcentreimg_230x58,列表名:ad,文字长度:12"#}
    {#if $ad#}
    <div class="ad-row a23058d clearfix lazyload">
      {#foreach from=$ad item=list#}
      <div class="ad-item ad-51 f-left comimgtip" style="border:1px solid #eee;">
        <a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$QISHI.site_template#}images/index/84.gif" alt="{#$list.img_explain#}"  title="{#$list.img_explain#}"  width="230" height="58" border="0" /></a>
        {#if $list.jobs#}
        <!-- 鼠标至上显示 -->
        <div class="ad-more-info info51" style="display: none;">
          <div class="ad-placeholder"></div>
          <ul class="ad-job-list">
            {#foreach from=$list.jobs item=jobs_li#}
            <li class="clearfix"><div class="jobname f-left"><a href="{#$jobs_li.jobs_url#}" class="underline" target="_blank">{#$jobs_li.jobs_name#}</a></div><div class="jobpay f-left"><span>{#$jobs_li.wage_cn#}</span></div></li>
            {#/foreach#}
          </ul>
          <div class="ad-com-info ad-com-info-w">
            <div class="companyname"><a href="{#$list.company_url#}" class="underline" target="_blank">{#$list.companyname#}</a></div>
            <p>{#$list.briefly#}</p>
          </div>
          <a href="{#$list.company_url#}" class="ad-more" target="_blank">查看更多内容>></a>
        </div>
        {#/if#}
      </div>
      {#/foreach#}
    </div>
    {#/if#}
    <!-- 230x58 广告  格子广告------------ 每行5个共2行-->
  </div>
  <!-- 广告位集中区域结束 -->
  <!-- 列表-推荐职位 -->
  <div class="index-data-wrap index-data-wrap-i7">
    <div class="blue-line"></div>
    <div class="data-title-box clearfix">
      <h4 class="f-left">悬赏贴<span>推荐优秀人才，赚取丰厚佣金</span></h4>
      <a href="{#"QS_hunter_jobslist"|qishi_url#}" class="f-right underline" target="_blank">更多>></a>
    </div>
    <div class="famous-list clearfix">
          {#qishi_hunter_jobs_list set="列表名:jobs,显示数目:40,职位名长度:12,显示职位:1,企业名长度:12,排序:rtime>desc"#}
      {#foreach from=$jobs item=list#}
      <div class="xuanshang">
              <div class="one">
                  <a href="{#$QISHI.site_dir#}hunter/hunter-jobs-show.php?id={#$list.id#}" class="newest-job underline" style="font-size:12px;margin-left:0;" target="_blank">{#$list.jobs_name#}</a>
                </div>      
                <div class="two">
                  悬赏佣金{#$list.interview_money#}元
                </div>
                <div class="three">
                  需求{#$list.amount#}位人才
                </div>
            </div>
            {#/foreach#}
    </div>
  </div>
  <!-- 列表-名企招聘结束 -->
  <!-- 1198*58 广告  -->
  {#qishi_ad set="显示数目:3,调用名称:QS_indexcenter,列表名:ad,文字长度:12"#}
  {#if $ad#}
  <div class="ad-area">
  {#foreach from=$ad item=list#}
  <div class="ad-row clearfix lazyload" style="margin-top: 10px;">
    <div class="ad-item ad-full f-left"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$QISHI.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" title="{#$list.img_explain#}" width="1198" height="58" border="0" /></a></div>
  </div>
  {#/foreach#}
  </div>
  {#/if#}
  <!-- 列表-最新职位 -->
  <div class="index-data-wrap">
    <div class="blue-line"></div>
    <div class="data-title-box clearfix" style="margin-bottom:10px;">
      <h4 class="f-left">招聘贴<span></span></h4>
      <a href="{#"QS_jobslist"|qishi_url#}" class="f-right underline" target="_blank">更多>></a>
    </div>
    <div class="newest-list clearfix">
      {#qishi_companyjobs_list set="列表名:jobs,显示数目:40,职位名长度:12,显示职位:1,企业名长度:12,排序:rtime>desc"#}
      {#foreach from=$jobs item=list#}
      <div class="newest-items f-left" style="width:282px;">
        <i class="nc-icon"></i>
       {#foreach from=$list.jobs item=li#}
        <a href="{#$list.jobs_url#}" class="newest-com underline" style="margin-left:10px;" target="_blank">{#$li.jobs_name#}</a>
        {#/foreach#}
        <a href="{#$li.company_url#}" class="newest-job underline" style="margin-left:0;" target="_blank">{#$list.companyname#}</a>
        
      </div>
      {#/foreach#}
    </div>
  </div>
  <!-- 列表-最新职位结束 -->
  <!-- 1198*58 广告  -->
  {#qishi_ad set="显示数目:1,调用名称:QS_indexfootbanner,列表名:ad,文字长度:12"#}
  {#if $ad#}
  <div class="ad-area">
  {#foreach from=$ad item=list#}
  <div class="ad-row clearfix lazyload" style="margin-top: 10px;">
    <div class="ad-item ad-full f-left"><a href="{#$list.img_url#}" target="_blank"><img original="{#$list.img_path#}" src="{#$QISHI.site_template#}images/index/84.gif" alt="{#$list.img_explain#}" title="{#$list.img_explain#}" width="1198" height="58" border="0" /></a></div>
  </div>
  {#/foreach#}
  </div>
  {#/if#}
  <!-- 列表-照片简历 -->
  <div class="index-data-wrap">
    <div class="blue-line"></div>
    <div class="data-title-box clearfix" style="margin-bottom:10px;">
      <h4 class="f-left">葫芦谷<span>精品认证人才，拒绝虚假简历</span></h4>
      <a href="{#"QS_hunter_resumelist"|qishi_url#}" class="f-right underline" target="_blank">更多>></a>
    </div>
    <div class="photo-list clearfix">
      <div class="hulugufirst">
              <div class="second">姓名</div>
                <div class="second">性别</div>
                <div class="second">年龄</div>
                <div class="second">学历</div>
                <div class="second">经验</div>
                <div class="second" style="width:600px;">求职意向</div>
                <div class="second">更新时间</div>
            </div>
            {#qishi_resume_list set="列表名:resume,显示数目:7,照片:1,意向职位长度:14,等级:2,填补字符:...,排序:rtime>desc"#}
      {#foreach from=$resume item=list#}
            <div class="hulugufirst" style="height:25px;">
              <div class="third"><a href="{#$list.resume_url#}" target="_blank">{#$list.fullname#}</a></div>
                <div class="third">{#$list.sex_cn#}</div>
                <div class="third">{#$list.age#}</div>
                <div class="third">{#$list.education_cn#}</div>
                <div class="third">{#$list.experience_cn#}</div>
                <div class="third" style="width:600px;">{#$list.intention_jobs#}</div>
                <div class="third">{#$list.refreshtime_cn#}</div>
            </div>
            {#/foreach#}
            
    </div>
  </div>
   
  <!-- 列表-照片简历结束 -->
  <!-- 列表-职位导航 -->
  <div class="index-data-wrap">
    <div class="blue-line"></div>
    <div class="data-title-box clearfix">
      <h4 class="f-left">人才库<span></span></h4>
      <a href="{#"QS_resume"|qishi_url#}" class="f-right underline" target="_blank">更多>></a>
    </div>
    <div class="job-news-block clearfix">
          {#qishi_resume_list set="列表名:resume,显示数目:7,照片:1,意向职位长度:14,填补字符:...,排序:rtime>desc"#}
      {#foreach from=$resume item=list#}
      <div style="height:50px;width:280px;float:left;margin:5px 5px;border-bottom:1px solid #F5F5F5;">
              <div style="height:20px;width:250px;float:top;">
                  <span class="name"><a href="{#$list.resume_url#}" target="_blank" style="font-size:12px;color:#333;">{#$list.fullname#}</a></span><span style="line-height:20px;font-size:12px;color:#CCCCCC;">2012-03-22</span>
                </div>
                <div style="height:25px;line-height:25px;width:250px;float:top;font-size:12px;color:#666666;overflow:hidden;">
                  <span style="margin-left:15px;width:50px;">{#$list.education_cn#}</span>&nbsp;|&nbsp;<span>{#$list.experience_cn#}</span>&nbsp;|&nbsp;<span>意向：{#$list.intention_jobs#}</span>
                </div>
            </div>
            {#/foreach#}
    </div>
  </div>
  <!-- 列表-职位导航结束 -->
  <!-- 列表-职场资讯 -->
  <div class="index-data-wrap">
    <div class="blue-line"></div>
    <div class="data-title-box clearfix">
      <h4 class="f-left">知识堂<span>Workplace Information</span></h4>
      <a href="{#"QS_news"|qishi_url#}" class="f-right underline" target="_blank">更多>></a>
    </div>
    <div class="job-news-block clearfix">
      <div class="jn-left f-left">
        {#qishi_news_category set="列表名:newscategory,资讯大类:1,显示数目:4"#}
        {#section loop=$newscategory name=nclist#}
        <div class="jn-box f-left">
          <div class="jn-img f-left"><a href="{#"QS_newslist,id:$newscategory[nclist].id"|qishi_url#}" target="_blank"><img src="{#$QISHI.site_template#}images/news{#$smarty.section.nclist.index#}.jpg" width="163" height="98" border="0"></a></div>
          <ul class="jn-list f-left">
          {#qishi_news_list set="列表名:topnews,显示数目:5,标题长度:18,资讯小类:$newscategory[nclist].id,摘要长度:36,填补字符:...,排序:id>desc"#}
          {#foreach from=$topnews item=toplist#}
          <li><i class="jn-icon"></i><a target="_blank" href="{#$toplist.url#}" class="underline" title="{#$toplist.title_#}" target="_blank">{#$toplist.title#}</a></li>
          {#/foreach#}
          </ul>
        </div>
        {#/section#}
      </div>
      <ol class="jn-right f-left">
        {#qishi_news_list set="列表名:news_list,显示数目:12,标题长度:16,排序:article_order>desc"#}
        {#section loop=$news_list name=list#}
           <li class="hot{#$smarty.section.list.index#}"><a href="{#$news_list[list].url#}" class="underline" target="_blank">{#$news_list[list].title#}</a></li>
        {#/section#}
                
      </ol>
    </div>
  </div>
  <!-- 列表-职场资讯结束 -->
</div>
<!--<div  class="platform">
   <div class="platform-center">
       <h2 class="platform-h2">中国领先招聘服务外包020平台</h2>
       <div class="platform-diva">
          <span class="platform-a f-left active" id="all">全部</span >
          <span  class="platform-a f-left" id="year">一年</span >
          <span  class="platform-a f-left" id="month">本月</span >
          <span  class="platform-a f-left" id="yestoday">昨天</span >
          <div class="clearfix"></div>
       </div>
      
       <div class="platform-div" id="alls"> 
       {#qishi_xs set="列表名:xs,日期范围:all"#}
           <div class="platform-items home f-left">
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon1.png"  style="margin-top:6px;"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.company_num#}</span>家</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">企业数</p>
           </div>
           <div class="platform-items ge f-left" style="border-left:1px solid #ededed;border-right:1px solid #ededed;">
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon2.png"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.job_num#}</span>个</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">交易量</p>
           </div>
           <div class="platform-items yuan f-left"> 
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon3.png" style="margin-top:2px;"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.money_num#}</span>葫芦币</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">悬赏金额</p>
           </div>
           <div class="clearfix"></div>
       </div>
       <div class="platform-div" id="years" style="display:none;"> 
       {#qishi_xs set="列表名:xs,日期范围:year"#}
           <div class="platform-items home f-left">
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon1.png"  style="margin-top:6px;"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.company_num#}</span>家</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">企业数</p>
           </div>
           <div class="platform-items ge f-left" style="border-left:1px solid #ededed;border-right:1px solid #ededed;">
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon2.png"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.job_num#}</span>个</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">交易量</p>
           </div>
           <div class="platform-items yuan f-left"> 
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon3.png" style="margin-top:2px;"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.money_num#}</span>葫芦币</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">悬赏金额</p>
           </div>
           <div class="clearfix"></div>
       </div>
       <div class="platform-div" id="months" style="display:none;"> 
       {#qishi_xs set="列表名:xs,日期范围:month"#}
           <div class="platform-items home f-left">
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon1.png"  style="margin-top:6px;"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.company_num#}</span>家</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">企业数</p>
           </div>
           <div class="platform-items ge f-left" style="border-left:1px solid #ededed;border-right:1px solid #ededed;">
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon2.png"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.job_num#}</span>个</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">交易量</p>
           </div>
           <div class="platform-items yuan f-left"> 
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon3.png" style="margin-top:2px;"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.money_num#}</span>葫芦币</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">悬赏金额</p>
           </div>
           <div class="clearfix"></div>
       </div>
       <div class="platform-div" id="yestodays"  style="display:none;"> 
       {#qishi_xs set="列表名:xs,日期范围:yestoday"#}
           <div class="platform-items home f-left">
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon1.png"  style="margin-top:6px;"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.company_num#}</span>家</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">企业数</p>
           </div>
           <div class="platform-items ge f-left" style="border-left:1px solid #ededed;border-right:1px solid #ededed;">
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon2.png"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.job_num#}</span>个</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">交易量</p>
           </div>
           <div class="platform-items yuan f-left"> 
              <div class="platform-items-img f-left"><img src="{#$QISHI.site_template#}images/pla-icon3.png" style="margin-top:2px;"/></div>
              <p class="platform-items-p f-left"><span class="platform-items-span">{#$xs.money_num#}</span>葫芦币</p>
              <div class="clearfix"></div>
              <p class="platform-items-p">悬赏金额</p>
           </div>
           <div class="clearfix"></div>
       </div>
     </div>
</div>-->
<!-- 主体结束 -->
{#include file="footer.htm"#}
</body>
</html>