<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="gb2312">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	{#qishi_pageinfo set="列表名:page,调用:QS_index"#}
	<title>{#$QISHI.site_name#}-招聘会列表</title>
	<meta name="description" content="{#$page.description#}" id="description">
	<meta name="keywords" content="{#$page.keywords#}">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/jobfair.css">
	<script type="text/javascript" src="./js/jquery-1.11.3.js" ></script>
	<script type='text/javascript' src="./js/jquery.common.js" ></script>
	<script type='text/javascript' src="./js/jquery.pinterest.js" ></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.thisurl').click( function () {window.location.href =  $(this).attr('url');});
			pinterest("{#$QISHI.wap_domain#}/plus/ajax.php?act=ajaxjobfairlist");
		});
	</script>
</head>
<body class="global-bg">
	<div class="global-container">
		<header class="global-header">
			<div class="header-left"  id="pageback">
				<a href="javascript:;" class="header-back"><i class="w-icon w-icon-back"></i></a>
			</div>
			<div class="header-center"><span class="title-only">招聘会</span></div>
			{#if $smarty.session.utype!=1 && $smarty.session.utype!=2#}
			<div class="header-user"><a href="login.php"><i class="w-icon w-icon-user"></i></a></div>
			{#else#}
			<div class="header-user">
				<a href="{#$QISHI.wap_domain#}/{#if $smarty.session.utype==1#}company/user.php{#else if $smarty.session.utype==2#}personal/user.php{#/if#}">
					{#if $smarty.session.avatars!=''#}
					<img src="{#$smarty.session.avatars#}" alt="" width="24" height="24">
					{#else#}
					<i class="w-icon w-icon-user"></i>
					{#/if#}
				</a>
			</div>
			{#/if#}
		</header>
		<div class="content-wrap">
			<div class="jobfair-list">
				{#if $jobfairs#}
				<div id="container">
					{#foreach from=$jobfairs item=list#}
					<section class="jobfair-item thisurl box" url="{#$list.url#}">
						<div class="jobfair-content">
							<h2><a href="{#$list.url#}">{#$list.title#}</a></h2>
							<div class="jobfair-txt">
								<p>举办时间：{#$list.holddate_start|date_format:"%Y-%m-%d"#} 至 {#$list.holddate_end|date_format:"%Y-%m-%d"#}</p>
								<p>咨询电话：{#$list.phone#}  {#$list.contact#}</p>
								<p>举办地址：{#$list.address#}<a href="javascript:;"><i class="w-icon w-icon-local-two"></i></a></p>
							</div>
						</div>
						<div class="jobfair-state">
							{#if $list.predetermined_ok==0#}
							<i class="w-icon w-icon-booked"></i>
							{#elseif $list.predetermined_ok==1#}
							<i class="w-icon w-icon-coming"></i>
							{#else $list.predetermined_ok==2#}
							<i class="w-icon w-icon-booking"></i>
							{#/if#}
						</div>
					</section>
					{#/foreach#}
				</div>
				<!-- 正在加载 -->
				<article class="loadinglist flex-box">
					<div class="spinner">
						<div class="spinner-container container1"><div class="circle1"></div><div class="circle2"></div><div class="circle3"></div><div class="circle4"></div></div>
						<div class="spinner-container container2"><div class="circle1"></div><div class="circle2"></div><div class="circle3"></div><div class="circle4"></div></div>
						<div class="spinner-container container3"><div class="circle1"></div><div class="circle2"></div><div class="circle3"></div><div class="circle4"></div></div>
					</div>
				</article>
				<!-- 没有相关招聘会了 -->
				<article class="optionlist optionlisteditworkexp personalinfo remindnoinfo">
					<section class="flex-box list" url="">
						<div class="right cof90 flex2 nobm">没有相关招聘会了！</div>
					</section>
				</article>
				{#else#}
				<article class="nodata">
					<div class="cryimg flex-box"></div>
					<div class="txt flex-box">没有相关招聘会！</div>
				</article>
				{#/if#}
			</div>
		</div>
		{#include file="m/footer.htm"#}
	</div>
	<div class="back-to-top"><i class="w-icon w-icon-up"></i></div>
	

	<script src="js/jquery.min.js"></script>
	<script src="js/fastclick.js"></script>
	<script src="js/search.js"></script>
</body>
</html>