<!DOCTYPE HTML>
<html>
<head>
<title>{#$title#}</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="format-detection" content="address=no;">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="author" content="找葫芦" />
<meta name="copyright" content="zhaohulu.com" />
<link href="./css/common.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="./css/wzp_style.css" rel="stylesheet" />
<link type="text/css" href="./css/wzp_style_left.css" rel="stylesheet" />
<script type="text/javascript" charset="urf-8" src="./js/jq.mobi.min.js"></script>
</head>
<body>
<div id="poster_contain">
<section class="load" id="load">
  <div class="p_loading">
    <div class="p_loading_logo"></div>
    <p class="p_loading_tip">新生活，从新工作开始</p>
  </div>
</section>

<section class="poster_wrap index focus" style="-webkit-transform: translate3d(0px, 0px, 0px); -webkit-transition-duration: 0ms; transition-duration: 0ms; opacity: 1; display: block; z-index: 20; background-color: rgb(89, 90, 160);">
  <div class="poster_index_bg"></div>
  <div class="poster_home_page">
    <div class="poster_logo_con">
      <div class="postter_praise_ring"></div>
      <div class="postter_praise_r"></div>
      <div class="postter_praise_rl"></div>
        <div class="poster_praise_logo"><img src="./images/wzp_img/wzp_logo.png"></div>
    </div>
    <h1 class="poster_tit">{#$company_info.companyname#}</h1>
    <p class="poster_details">新生活，从新工作开始</p>
  </div>
</section>

<section class="poster_wrap welf" style="-webkit-transform: translate3d(0px, 0px, 0px); -webkit-transition-duration: 0ms; transition-duration: 0ms; opacity: 1; display: none; z-index: 20;">
  <div class="company_intro">
    <div class="company_intro_list">
      <div class="company_intro_border">
        <div class="company_intro_logo">
          <i class="logo_ico city"></i>
        </div>
      </div>
      <p class="company_intro_tit">{#$company_info.district_cn#}</p>
    </div>
    <div class="company_intro_list">
      <div class="company_intro_border">
        <div class="company_intro_logo">
          <i class="logo_ico num"></i>
        </div>
      </div>
      <p class="company_intro_tit">{#$company_info.scale_cn#}</p>
    </div>
    <div class="company_intro_list">
      <div class="company_intro_border">
        <div class="company_intro_logo">
          <i class="logo_ico nature"></i>
        </div>
      </div>
      <p class="company_intro_tit">{#$company_info.nature_cn#}</p>
    </div>
  </div>
  <div class="about_us_con">
    <h3 class="about_us_tit"><i class="about_us_tit_ico"></i>认识我们</h3>
    <div class="about_us_msg">
      <div class="about_us_msg_p">{#$company_info.contents#}</div>
    </div>
  </div>
  
</section>

<section class="poster_wrap abus" style="-webkit-transform: translate3d(0px, 0px, 0px); -webkit-transition-duration: 0ms; transition-duration: 0ms; opacity: 1; display: none; z-index: 20;">
  <h1 class="abus_head"><i class="about_us_tit_ico"></i>我们的福利</h1>
  <div class="welf_bg">
    {#foreach from=$tag key=k item=tag_li#}
       <div class="tag_{#$k#}" style="-webkit-animation: none; -webkit-animation-play-state: initial;"><span>{#$tag_li#}</span></div>
    {#/foreach#}
  </div>
</section>

<!-- 职位列表  -->
{#if $company_jobs#}
<section class="poster_wrap posit" style="-webkit-transform: translate3d(0px, 0px, 0px); -webkit-transition-duration: 0ms; transition-duration: 0ms; opacity: 1; display: none; z-index: 20;">
    <h1 class="posit_tit"><i class="about_us_tit_ico"></i>我们招聘的职位</h1>
    <div class="posit_list_con">
        {#if $company_jobs#}
        <div class="posit_list_ul" style="width: 840px; -webkit-transition-duration: 0ms; transition-duration: 0ms; -webkit-transition-timing-function: linear; transition-timing-function: linear; -webkit-transform: translate3d(0px, 0px, 0px);">
            {#foreach from=$company_jobs item=list#}
            <div class="posit_details" style="width: 260px;" jobs_id="{#$list.id#}" jobs_tel="{#$list.telephone#}" jobs_name="{#$list.jobs_name#}" company_id="{#$list.company_id#}" company_name="{#$list.companyname#}" company_uid="{#$list.uid#}"> 
                <div class="posit_details_head">
                    <h3 class="posit_details_tit">{#$list.jobs_name#}</h3>
                    <span class="posit_details_money"><strong>{#$list.wage_cn#}</strong></span>
                    <p class="posit_details_tip">{#$list.experience_cn#}、{#$list.education_cn#}</p>
                </div>
                <div class="job_details">
                    <p class="job_address">工作地点：{#$list.district_cn#}</p>
                    <h3 class="job_name">任职要求：<a class="job_name_details" href="jobs-show.php?id={#$list.id#}">职位详情&gt;&gt;</a></h3>
                    <div class="job_msg">
                      {#$list.contents|htmlspecialchars_decode#}
                    </div>
                </div>
                <div class="posit_arrow_bot"></div>
            </div>
            {#/foreach#}
        </div>
        {#else#}
        <div class="posit_list_ul" style="width: 840px; -webkit-transition-duration: 0ms; transition-duration: 0ms; -webkit-transition-timing-function: linear; transition-timing-function: linear; -webkit-transform: translate3d(0px, 0px, 0px);">
          <div class="posit_details" style="width: 260px;"> 
          <img src="./images/wzp_img/posit_none_logo.jpg" >
          </div>
        </div>
        {#/if#}
    </div>
    <div class="job_btn_con">
      <div class="job_btn_list" jqmoldstyle="block">
          <a href="javascript:;" class="job_btn add" id="jobs_apply">投个简历</a>
          <a href="javascript:;" class="job_btn tel">电话联系</a>
      </div>
    </div>
</section>
{#/if#}
<!-- 点赞 -->
<section class="poster_wrap praise" style="-webkit-transform: translate3d(0px, 0px, 0px); -webkit-transition-duration: 0ms; transition-duration: 0ms; opacity: 1; display: none; z-index: 18;" jqmoldstyle="block">
    <div class="poster_praise_con">
        <div class="poster_praise_logo"><img src="./images/wzp_img/wzp_logo.png"></div>
    </div>
    <p class="praise_tip">已有<b id="praise_num">{#$company_info.wzp_click#}</b>人觉得这家公司值得加入</p>
    <a class="praise_btn praise_btn_click" href="javascript:;">
    <i><em></em></i><span>点赞，值得加入</span>
    </a>
    <a class="praise_share_btn" href="javascript:;" >分享给好友</a>
    <a class="more_position" href="jobs-list.php">查看更多职位&gt;&gt;</a>
</section>

</div>
<div class="arrow_con">
  <div class="arrow_top"><span></span></div>
</div>
<div class="layer"></div>
<div class="wx_layer"></div>

<!-- 投递简历 弹出框 -->
<div class="menu choose_menu" id="choose_menu" style="opacity:0;position:absolute;z-index:9999;">
  <div class="menu_title">请选择简历</div>
  <ul>
    {#foreach from=$resume_list item=list#}
    <li ><label for="r_{#$list.id#}" ><input type="radio" name="resume_list" id="r_{#$list.id#}" value="{#$list.id#}" title="{#$list.title#}"/>{#$list.title#}</label></li>
    {#/foreach#}
  </ul>
  <div class="choose_but">
    <div class="but_left" id="but_left">
      <a>投递</a>
    </div>
    <div class="but_right" id="but_right">
      <a>取消</a>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- 左侧划出内容  -->
{#if $show_menue=="1"#}
<section class="reward_manager_list_con">
  <a class="manager_set" href="?act=index&company_id={#$smarty.get.company_id#}">
    <h3 class="manager_set_tit">微招聘首页</h3>
  </a>
  <a class="manager_set" href="?act=company_tpl&company_id={#$smarty.get.company_id#}">
    <h3 class="manager_set_tit">微招聘模板</h3>
  </a>
  <a class="manager_set" href="?act=company_welfare&company_id={#$smarty.get.company_id#}">
    <h3 class="manager_set_tit">企业福利</h3>
  </a>
</section>
<div class="nav_btn_con" style="position: fixed;">
  <div class="nav_btn">
    <div class="nav_btn_arrrow"></div>
  </div>
</div>
<div class="reward_manager_list_con_bg"></div>
{#/if#}
</body>
<script>
  var utype= "{#$smarty.session.utype#}";
  var company_id = "{#$smarty.get.company_id#}";
</script>
<script type="text/javascript" charset="urf-8" src="./js/jquery.swipe.js"></script>
<script type="text/javascript" charset="utf-8" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" charset="utf-8" src="./js/jquery.wzp.js"></script>
<script>
  wx.config({
    // debug: true,
    appId: '{#$signPackage.appId#}',
    timestamp: '{#$signPackage.timestamp#}',
    nonceStr: '{#$signPackage.nonceStr#}',
    signature: '{#$signPackage.signature#}',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
      "onMenuShareTimeline",
      "onMenuShareAppMessage",
      "onMenuShareQQ",
      "onMenuShareWeibo"
    ]
  });
  wx.ready(function () 
  {
      var linkUrl = "{#$QISHI.wap_domain#}/m-wzp.php?company_id={#$smarty.get.company_id#}";//放链接
      var title = "{#$company_info.companyname#}真棒,招个人都搞的这么轰动,下血本啊,小伙伴们快来看看吧。";
      var desc = "我司正在招聘人才，待遇福利优厚，欢迎各路人才，快来看看吧。"; 
      var imgUrl="{#$QISHI.wap_domain#}/images/wzp_img/wzp_logo.png";//图片链接
      
      wx.onMenuShareTimeline({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: linkUrl, // 分享链接
          imgUrl: imgUrl, // 分享图标
          success: function () { 
          // 用户确认分享后执行的回调函数
          },
          cancel: function () { 
              // 用户取消分享后执行的回调函数
          }
      });
      wx.onMenuShareAppMessage({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: linkUrl, // 分享链接
          imgUrl: imgUrl, // 分享图标
          type: '', // 分享类型,music、video或link，不填默认为link
          dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                    success: function () { 
          // 用户确认分享后执行的回调函数
          },
          cancel: function () { 
              // 用户取消分享后执行的回调函数
          }
      });
      wx.onMenuShareQQ({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: linkUrl, // 分享链接
          imgUrl: imgUrl, // 分享图标
                    success: function () { 
          // 用户确认分享后执行的回调函数
          },
          cancel: function () { 
              // 用户取消分享后执行的回调函数
          }
      });
      wx.onMenuShareWeibo({
          title: title, // 分享标题
          desc: desc, // 分享描述
          link: linkUrl, // 分享链接
          imgUrl: imgUrl, // 分享图标
                    success: function () { 
          // 用户确认分享后执行的回调函数
          },
          cancel: function () { 
              // 用户取消分享后执行的回调函数
          }
      });
  });
</script>
</html>