<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="gb2312">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	{#qishi_pageinfo set="列表名:page,调用:QS_index"#}
	<title>资讯详细 - {#$QISHI.site_name#}</title>
	<meta name="description" content="{#$page.description#}" id="description">
	<meta name="keywords" content="{#$page.keywords#}">
	<meta name="author" content="找葫芦" />
	<meta name="copyright" content="zhaohulu.com" />
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/news.css">
	<link rel="stylesheet" href="css/nativeShare.css" />
	<script type="text/javascript" src="./js/jquery-1.11.3.js" ></script>
	<script type='text/javascript' src="./js/jquery.common.js" ></script>
	<script type="text/javascript" src="./js/layer/layer.js" ></script>
	<script type="text/javascript" src="./js/jquery.editCM.js" ></script>
	<script type="text/javascript" src="./js/iscroll.js" ></script>
	<script type="text/javascript" src="./js/mb.js" ></script>
	<script type="text/javascript" src="./js/nativeShare.js" ></script>
</head>
<body class="global-bg">
	<div class="global-container">
		<header class="global-header">
			<div class="header-left" id="pageback">
				<a href="javascript:;" class="header-back"><i class="w-icon w-icon-back"></i></a>
			</div>
			<div class="header-center"><span class="title-only">资讯详情</span></div>
			{#include file="navi.html"#}
		</header>
		<div class="content-wrap">
			<div class="news-detail-wrap">
				<h2>{#$show.title#}</h2>
				<div class="title-bar clearfix">
					<span class="f-left">{#$show.addtime#}</span>
					<span class="f-left">{#$show.type_cn#}</span>
					<em class="f-right"><i class="w-icon w-icon-eye"></i>{#$show.click#}</em>
				</div>
				<div class="news-main">
					{#if $show.Small_img!=''#}
					<div class="img-box"><img src="{#$show.bimg#}" alt=""></div>
					{#/if#}
					<div class="news-main-text">
						<p>{#$show.content#}</p>
					</div>
				</div>
			</div>
			<section class="news-share new-news-share clearfix newshare" data-url="{#$QISHI.wap_domain#}/news-show.php?id={#$show.id#}" data-title="【{#$show.title#}】" data-img="{#$show.bimg#}" data-from="{#$QISHI.site_name#}" data-imgtitle="{#$show.title#}">
				<p class="f-left">文章挺不错，分享给朋友们！</p>
				<a href="javascript:;" class="f-right">立即分享</a>
			</section>
		</div>
		{#include file="m/footer.htm"#}
	</div>
	<div class="select_bar_div"></div>
	<div class="back-to-top"><i class="w-icon w-icon-up"></i></div>
	

	<script src="js/jquery.min.js"></script>
	<script src="js/fastclick.js"></script>
	<script src="js/search.js"></script>
</body>
</html>