<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="gb2312">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	{#qishi_pageinfo set="列表名:page,调用:QS_index"#}
	<title>{#$QISHI.site_name#}-找回密码</title>
	<meta name="description" content="{#$page.description#}" id="description">
	<meta name="keywords" content="{#$page.keywords#}">
	<meta name="author" content="找葫芦" />
	<meta name="copyright" content="zhaohulu.com" />
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/login-reg.css">
	<script type="text/javascript" src="./js/jquery-1.11.3.js" ></script>
	<script type='text/javascript' src="./js/jquery.common.js" ></script>
</head>
<body class="global-bg">
	<div class="global-container">
		<header class="global-header">
			<div class="header-left"  id="pageback">
				<a href="javascript:;" class="header-back"><i class="w-icon w-icon-back"></i></a>
			</div>
			<div class="header-center"><span class="title-only">找回密码</span></div>
		{#include file="navi.html"#}
		</header>
		<div class="content-wrap">
			<div id="err"></div>
			<nav class="top-tab layout-box">
				<div class="tab-item box-col active"><span>手机号</span></div>
				<div class="tab-item box-col"><span>邮箱</span></div>
			</nav>
			<section class="user-form-wrap">
				<!-- 手机号找回 -->
				<div class="form-tab-item" style="display:block;">
					<div class="user-form">
						<div class="form-row clearfix">
							<i class="user-icon phone f-left"></i>
							<div class="input-area"><input type="text" name="mobile" id="mobile" placeholder="请输入手机号"></div>
						</div>
						<div class="form-row clearfix">
							<i class="user-icon number f-left"></i>
							<div class="input-area"><input type="text" name="verifycode" id="verifycode" placeholder="请输入验证码"></div>
							<div class="code-box"><input type="button" value="获取验证码" class="code-btn" id="codeBtn"></div>
						</div>
					</div>
					<div class="user-submit"><button class="user-submit-btn mobile_login" type="submit" disabled>下一步</button></div>
				</div>
				<!-- 邮箱找回 -->
				<div class="form-tab-item">
					<div class="user-form">
						<div class="form-row clearfix">
							<i class="user-icon mail f-left"></i>
							<div class="input-area"><input type="text" name="email" id="email" placeholder="请输入已注册的地址邮箱"></div>
						</div>
						<div class="form-row clearfix">
							<i class="user-icon number f-left"></i>
							<div class="input-area"><input type="text" name="emverifycode" id="emverifycode" placeholder="请输入验证码"></div>
							<div class="code-box"><input type="button" value="获取验证码" class="code-btn" id="email_codeBtn"></div>
						</div>
					</div>
					<div class="user-submit"><button class="user-submit-btn email_login" type="submit" disabled>下一步</button></div>
				</div>
			</section>
		</div>
	</div>
	

	<script src="./js/jquery.min.js"></script>
	<script src="./js/fastclick.js"></script>
	<script>
		$(function() {
			// 切换
			$('.top-tab .tab-item').on('click', function() {
				var index = $(this).index();
				$(this).addClass('active').siblings().removeClass('active');
				$('.user-form-wrap .form-tab-item').eq(index).show().siblings().hide();
			});
			//发送手机验证码
			$('#codeBtn').on('click', function() {
				$.post('?act=pw_send_code', {'act':'pw_send_code','mobile':$('#mobile').val()}, function(data) {
					if($.trim(data)!='success')
					{
						if(data=='请60秒后重新验证！')
						{
							showTime(60, "#codeBtn");
						}
						var html = '<div class="user-form-error" style="display: block;"><i class="error-icon"></i>'+data+'</div>';
						$("#err").html(html);
					}
					else
					{
						showTime(60, "#codeBtn");
						$('.mobile_login').removeAttr("disabled"); 
					}
				});
			});
			//发送邮箱验证码
			$('#email_codeBtn').on('click', function() {
				$.post('?act=pw_send_email_code', {'act':'pw_send_email_code','email':$('#email').val()}, function(data) {
					if($.trim(data)!='success')
					{
						if(data=='请60秒后重新验证！')
						{
							showTime(60, "#email_codeBtn");
						}
						var html = '<div class="user-form-error" style="display: block;"><i class="error-icon"></i>'+data+'</div>';
						$("#err").html(html);
					}
					else
					{
						showTime(60, "#email_codeBtn");
						$('.email_login').removeAttr("disabled"); 
					}
				});
			});
			//验证手机码
			$('.mobile_login').on('click', function() {
				var verifycode =$("input[name=verifycode]").val();
				$.post("?act=pw_validate_code",{verifycode:verifycode,'mobile':$('#mobile').val()},function(data){
					if(data=="2")
					{
						var html ='<div class="user-form-error" style="display: block;"><i class="error-icon"></i>验证码错误！</div>';
						$("#err").html(html);
					}
					else if(data=="3")
					{
						html = '<div class="user-form-error" style="display: block;"><i class="error-icon"></i>请输入手机号！</div>';
						$("#err").html(html);
					}
					else
					{
						window.location.href=data+'&send_key='+{#$send_key#};
					}
				})
			});
			//验证邮箱码
			$('.email_login').on('click', function() {
				var emverifycode =$("input[name=emverifycode]").val();
				$.post("?act=pw_email_validate_code",{emverifycode:emverifycode,'email':$('#email').val()},function(data){
					if(data=="2")
					{
						var html ='<div class="user-form-error" style="display: block;"><i class="error-icon"></i>验证码错误！</div>';
						$("#err").html(html);
					}
					else if(data=="3")
					{
						html = '<div class="user-form-error" style="display: block;"><i class="error-icon"></i>请输入邮箱账号！</div>';
						$("#err").html(html);
					}
					else
					{
						window.location.href=data+'&send_key='+{#$send_key#};
					}
				})
			});
		});
		function showTime(time, elem){
			$(elem).prop('disabled', true);

			for (var i = 0; i <= time; i++) {
				window.setTimeout("updateP("+ i +","+time+","+"'"+elem+"')", i*1000);
			};
		};
		function updateP(num, time, elem) {
			if(num == time) {
				$(elem).val('重新发送').prop('disabled', false);
			}else{
				var printnr = time - num;
				$(elem).val(printnr +"秒重新发送");
			}
		}
	</script>
</body>
</html>