.about_left{float:left;width:216px;border:1px solid #ff7800;font-family:"ו";}
.about_left .about_tit{padding-top:16px;padding-bottom:18px;text-align:center;font-size:14px;color:#fff;background-color:#ff9900;}
.about_left li{padding:14px 0;font-size:14px;text-align:center;cursor:pointer;}
.about_left li:hover{background-color:#F3F0F0;}
.about_left li.active{background-color:#F3F0F0;}
.about_left li a:hover{text-decoration:none;}
.about_right{float:right;width:970px;margin-bottom:10px;font-family:"ו";border: 1px solid #e0e0e0;background-color: #fff;border-top: 2px solid #ff9900;}
.about-title-div {height: 40px;padding-left: 15px;}
.about_right .about_r_tit{font-size: 14px;font-weight: bold;background: url("../images/index-title.png") no-repeat;line-height: 18px;height: 18px;padding-left: 18px;display: inline-block;margin-top: 10px;}
.about_right .about_r_content{padding:20px;font-size:14px;}
.about_right .about_r_content p{text-indent:2em;line-height:25px;}
.about_right .about_r_content .about_con{line-height:26px;}
.about_right .about_r_content td span{margin-right:15px;}
.about_right .about_r_content td textarea{width:615px;height:131px;padding:10px;resize:none;border:1px solid #ccc;}
