{#include file="sys/admin_header.htm"#}
<div class="admin_main_nr_dbox">
 <div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
	{#include file="subsite/admin_subsite_nav.htm"#}
  <div class="clear"></div>
</div>
<div class="toptip">
<h2>提示：</h2>
<p>
<span style="color:#FF6600">请勿频繁更改访问限制配置，会对搜索引擎收录有影响。</span><br />
新增分站后，需要将分站域名解析至主站，同时主网站需绑定此的分站域名；<br />
如需使用触屏版域名，需要将触屏版域名解析至主站，同时主网站下的m目录需绑定此域名。
</p>
</div> 
<div class="toptit">开启分站</div>
<form action="?act=setsave" method="post" name="form1" id="form1">
 {#$inputtoken#}
    <table width="100%" border="0" cellspacing="5" cellpadding="5" id="set">
	<tr>
      <td width="170" align="right">访问限制：</td>
      <td id="subsitetype">
	  <label><input name="subsite_method" type="radio"  value="0"  {#if $config.subsite_method=="0"#}checked="checked"{#/if#}/>404</label>
       &nbsp;&nbsp;&nbsp;&nbsp; 
	   <label ><input type="radio" name="subsite_method" value="1"   {#if $config.subsite_method=="1"#}checked="checked"{#/if#}/>301</label> <span class="admin_note">当使用非正常URL访问分站数据时，跳转到404或者301重定向到正确的URL</span></td>

      </tr>
      <tr>
	        <td height="30" align="right"  > 分站切换方式：</td>
	      	<td>
			  <label><input name="sel_subsite_method" type="radio"  value="0"  {#if $config.sel_subsite_method=="0"#}checked="checked"{#/if#}/>弹出选择</label>
		       &nbsp;&nbsp;&nbsp;&nbsp; 
			   <label ><input type="radio" name="sel_subsite_method" value="1"   {#if $config.sel_subsite_method=="1"#}checked="checked"{#/if#}/>独立页</label> <span class="admin_note">当分站较少时，建议您设置为弹出选择方式</span>
			</td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 企业详细页域名（PC版）：</td>
	      	<td ><input name="company_url" type="text" class="input_text_200"    value="{#$config.company_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://company.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 企业详细页域名（触屏版）：</td>
	      	<td ><input name="m_company_url" type="text" class="input_text_200"    value="{#$config.m_company_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://m_company.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 职位详细页域名（PC版）：</td>
	      	<td ><input name="job_url" type="text" class="input_text_200"    value="{#$config.job_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://job.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 职位详细页域名（触屏版）：</td>
	      	<td ><input name="m_job_url" type="text" class="input_text_200"    value="{#$config.m_job_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://m_job.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 简历详细页域名（PC版）：</td>
	      	<td ><input name="resume_url" type="text" class="input_text_200"    value="{#$config.resume_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://resume.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 简历详细页域名（触屏版）：</td>
	      	<td ><input name="m_resume_url" type="text" class="input_text_200"    value="{#$config.m_resume_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://m_resume.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 资讯详细页域名（PC版）：</td>
	      	<td ><input name="news_url" type="text" class="input_text_200"    value="{#$config.news_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://news.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 资讯详细页域名（触屏版）：</td>
	      	<td ><input name="m_news_url" type="text" class="input_text_200"    value="{#$config.m_news_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://m_news.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 说明页域名（PC版）：</td>
	      	<td ><input name="explain_url" type="text" class="input_text_200"    value="{#$config.explain_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://explain.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 说明页域名（触屏版）：</td>
	      	<td ><input name="m_explain_url" type="text" class="input_text_200"    value="{#$config.m_explain_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://m_explain.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 公告详细页域名（PC版）：</td>
	      	<td ><input name="notice_url" type="text" class="input_text_200"    value="{#$config.notice_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://notice.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 公告详细页域名（触屏版）：</td>
	      	<td ><input name="m_notice_url" type="text" class="input_text_200"    value="{#$config.m_notice_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://m_notice.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 招聘会详细页域名（PC版）：</td>
	      	<td ><input name="jobfair_url" type="text" class="input_text_200"    value="{#$config.jobfair_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://jobfair.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 招聘会详细页域名（触屏版）：</td>
	      	<td ><input name="m_jobfair_url" type="text" class="input_text_200"    value="{#$config.m_jobfair_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://m_jobfair.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 培训机构页域名（PC版）：</td>
	      	<td ><input name="train_url" type="text" class="input_text_200"    value="{#$config.train_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://train.rencai.com/</span></td>
	    </tr>
      	<tr>
	        <td height="30" align="right"  > 猎头详细页域名（PC版）：</td>
	      	<td ><input name="hunter_url" type="text" class="input_text_200"    value="{#$config.hunter_url#}"/>
	      	<span class="admin_note">输入二级域名，并以 " / " 结尾，如：http://hunter.rencai.com/</span></td>
	    </tr>
	<tr>
	  <td align="right">&nbsp;</td>
	  <td><input name="submit" type="submit" class="admin_submit"  id="sub"   value="保存修改"/></td>
	  </tr>
  </table>
</form>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>