/*
***此样式文件为3.7版本人才测评相关样式，此样式独立于主站任何CSS文件
*/
/*CSS reset*/
body, html{ margin:0px;background-color: #ffffff;font-family:Arial,"Microsoft Yahei",sans-serif; font-size:12px; color:#000000; height:100%;background-color: #f5f5f5;}
h1,h2,h3,h4,h5,form,p,ul{ margin:0px; padding:0px;font-weight: normal;}
ul, ol{list-style: none;}
input,textarea {font-family:Arial,"Microsoft Yahei",sans-serif;font-size:14px; color: #666666;outline: none;border:0;margin:0;padding:0;}
li {padding:0px; margin:0px;list-style-type:none;}
a{text-decoration:none;}
img{border:0;vertical-align: middle;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.f-left{float: left;}
.f-right{float: right;}
label{cursor: pointer;}
textarea{border:0;resize:none;overflow: auto;}
input.checkbox{position: relative;top:2px;margin-right: 7px;}
input.radio{position: relative;top:2px;margin-right: 5px;}
.container{width: 1000px;margin:0 auto;}
a.underline:hover{text-decoration: underline;}

/*头部*/
#reviews-header{width: 100%;font-family: "SimSun";margin-bottom: 15px;}
#reviews-header.index{margin-bottom: 0}
#reviews-header .header-top{width: 100%;background-color: #0180cf;height: 40px;line-height: 40px;color:#fff;}
#reviews-header .header-top a{color:#fff;}
#reviews-header .header-top .top-contact{padding-right: 20px;}
#reviews-header .header-top .top-contact span{padding-left: 25px;background: url(../images/top-contanct.png) no-repeat 0px 0px;}
#reviews-header .header-logo-nav{height: 50px;background-color: #fff;padding:25px 0;font-family: "Microsoft Yahei"}
#reviews-header .logo-side-title{margin-left: 30px;padding-left: 20px;font-size: 22px;line-height: 50px;color:#999;border-left: 1px solid #e2e2e2}
#reviews-header .reviews-nav{padding-right: 20px;font-size: 16px;color:#333;line-height: 50px;}
#reviews-header .reviews-nav .s-nav-item{margin-left:30px;color:#333;}
#reviews-header .reviews-nav .s-nav-item:hover,
#reviews-header .reviews-nav .s-nav-item.active{color:#0180cf;}

/*首页*/
.review-main{margin-top: 27px;}
.review-main .review-left{width: 740px;}
.review-main .review-left .banner-block{width: 740px;height: 276px;overflow: hidden;margin-bottom: 20px;}
.review-main .review-right{padding-left: 20px;width: 240px;}
.review-main .review-right .log-area{background-color: #fff;width: 240px;height: 276px;overflow: hidden;}
.review-index-list{}
.review-index-list .review-item{border:4px solid #e2e2e2;padding:0 40px 20px;margin-top: 35px;margin-bottom:27px;float: left;}
.review-index-list .review-item .review-title{text-align: center;position: relative;top:-31px;*position: static;*margin-top: -31px;}
.review-index-list .review-item .review-title h1{display: inline-block;background-color: #f5f5f5;font-size: 28px;color:#333;line-height: 30px;}
.review-index-list .review-item .review-title h1 .title-arrow{display: inline-block;width: 23px;height: 28px;background-color: #ccc;vertical-align: middle;background: url(../images/review-icon.png) no-repeat #f5f5f5;}
.review-index-list .review-item .review-title h1 .title-arrow.left-arrow{background-position: -230px 0px;margin-right: 13px;}
.review-index-list .review-item .review-title h1 .title-arrow.right-arrow{background-position: -277px 0px;margin-left: 13px;}
.review-index-list .review-item .item-content{}
.review-index-list .review-item .item-content .review-type{width: 130px;height: 130px;overflow: hidden;}
.review-index-list .review-item .item-content .review-text{padding-left: 165px;}
.review-index-list .review-item .item-content .review-text h3{font-size: 16px;color:#333;line-height: 24px;margin-bottom: 15px;}
.review-index-list .review-item .item-content .review-text h3 span{margin-left: 40px;}
.review-index-list .review-item .item-content .review-text p{font-size: 14px;color:#666;line-height: 24px;}
.review-index-list .review-item .item-content .review-text .join-review{margin-top: 26px;padding-left: 90px;}
.review-index-list .review-item .item-content .review-text .join-review-btn{font-size: 16px;color:#fff;background-color: #0180cf;width: 140px;height: 40px;cursor: pointer;}
.review-index-list .review-item .item-content .review-text .join-review-btn:hover{background-color: #0070bd;}
.review-right .side-ad-area{margin-top: 20px;width: 240px;overflow: hidden;}
.index-right-area{background-color: #fff;margin-top:20px;padding:13px 18px;}
.index-right-area h4{margin-bottom:15px;font-size: 14px;color:#333;padding-left: 8px;border-left:4px solid #0180cf;line-height: 16px;}
.index-right-area .hot-list{padding-bottom: 12px;}
.index-right-area .hot-list li{padding-top:15px;font-size: 14px;line-height: 18px;}
.index-right-area .hot-list li .rank-icon{width: 18px;height: 18px;background: url(../images/review-icon.png) no-repeat 0px -282px;color:#333;font-size: 12px;text-align: center;line-height: 18px;font-style: normal;}
.index-right-area .hot-list li .rank-icon.top3{background-position: 0px -254px;color: #fff;}
.index-right-area .hot-list li a{display: block;padding-left: 8px;color:#666;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.index-right-area .code-box{padding:11px;background: url(../images/code-box.png) no-repeat 0px 0px;width: 144px;height: 144px;margin:24px auto 20px;}
.index-right-area .code-tip{font-size: 16px;color:#333;text-align: center;margin-bottom: 20px;}
.log-area .loged{}
.log-area .loged .user-box{padding:19px 15px 0;border-bottom:1px solid #e2e2e2;}
.log-area .loged .user-box .user-avater{width: 64px;height: 64px;overflow: hidden;border-radius: 4px;}
.log-area .loged .user-box .user-info{padding-left: 75px;}
.log-area .loged .user-box .user-info h3{font-size: 16px;color:#333;line-height: 18px;margin-bottom: 8px;}
.log-area .loged .user-box .user-info h3 a{color:#333;}
.log-area .loged .user-box .user-info h3 a:hover{color:#0180cf;}
.log-area .loged .user-box .user-info .integral{color:#666;font-size: 12px;margin-bottom: 8px;}
.log-area .loged .user-box .user-info .integral span{color:#ff9900;}
.log-area .loged .user-box .user-info .auth-box{overflow: hidden;white-space: nowrap;text-overflow:ellipsis;font-family: "SimSun";padding-bottom: 7px;}
.log-area .loged .user-box .user-info .auth-box .auth-item{font-size: 12px;color:#666;padding-left: 23px;line-height: 16px;margin-bottom: 5px;background: url(../images/review-icon.png) no-repeat;}
.log-area .loged .user-box .user-info .auth-box .auth-item.mail{background-position: -283px -156px;}
.log-area .loged .user-box .user-info .auth-box .auth-item.mail-noauth{background-position: -283px -183px;}
.log-area .loged .user-box .user-info .auth-box .auth-item.phone{background-position: -282px -213px;}
.log-area .loged .user-box .user-info .auth-box .auth-item.phone-noauth{background-position: -282px -240px;}
.log-area .loged .user-control{padding:20px 15px 0 15px;}
.log-area .loged .user-control .menu{margin-bottom: 17px;}
.log-area .loged .user-control .menu .menu-item{width: 60px;text-align: center;padding-top: 46px;margin:0 5px;font-size: 12px;color:#333;background: url(../images/review-icon.png) no-repeat;font-family: "SimSun";}
.log-area .loged .user-control .menu .menu-item.rank{background-position: 11px 1px;}
.log-area .loged .user-control .menu .menu-item.book{background-position: 11px -71px;}
.log-area .loged .user-control .menu .menu-item.my{background-position: 11px -142px;}
.log-area .loged .user-control .menu .menu-item:hover{color:#0180cf;}
.log-area .loged .user-control .user-control-btn{display: block;width: 198px;height: 34px;line-height: 34px;font-size: 14px;color:#fff;margin:0 auto;background-color: #0180cf;text-align: center;}
.log-area .loged .user-control .user-control-btn:hover{background-color: #0070bd;}
.log-area .r-login{padding:15px 17px;}
.log-area .r-login h2{font-size: 14px;color:#333;padding-left: 8px;border-left:4px solid #0180cf;line-height: 16px;margin-bottom: 20px;}
.log-area .r-login .log-form{}
.log-area .r-login .log-form .input-box{height: 34px;border:1px solid #e2e2e2;margin-bottom: 16px;overflow: hidden;}
.log-area .r-login .log-form .input-box input{padding:8px 13px;font-size: 14px;color:#666;line-height: 18px;height:18px;width: 178px;}
.log-area .r-login .log-form .auto-forget{margin-bottom: 20px;}
.log-area .r-login .log-form .auto-forget label{font-size: 14px;color:#999;line-height: 16px;}
.log-area .r-login .log-form .auto-forget a{font-size: 14px;line-height: 16px;color:#ff9900;}
.log-area .r-login .log-form .log-btn-group{margin-bottom: 16px;}
.log-area .r-login .log-form .log-btn-group .r-btn{width: 90px;height: 30px;cursor: pointer;border-radius: 4px;color:#fff;}
.log-area .r-login .log-form .log-btn-group .r-btn.login-btn{background-color: #0180cf;}
.log-area .r-login .log-form .log-btn-group .r-btn.login-btn:hover{background-color: #0070bd;}
.log-area .r-login .log-form .log-btn-group .r-btn.regin-btn{background-color: #ff9900;}
.log-area .r-login .log-form .log-btn-group .r-btn.regin-btn:hover{background-color: #ff6600;}
.log-area .r-login .log-form .other-login{line-height: 24px;}
.log-area .r-login .log-form .other-login span{font-size: 14px;color: #999;}
.log-area .r-login .log-form .other-login .other-icon{width: 24px;height: 24px;margin-right: 14px;background: url(../images/review-icon.png) no-repeat;}
.log-area .r-login .log-form .other-login .other-icon.qq{background-position: -276px -276px;}
.log-area .r-login .log-form .other-login .other-icon.sina{background-position: -251px -276px;}
.log-area .r-login .log-form .other-login .other-icon.taobao{background-position: -226px -276px;}

/*列表页*/
.review-wrap{border:1px solid #c2e3fb;border-top: 0;background-color: #fff;}
.review-wrap .g-top-box{padding:7px 34px 28px; 34px;background: url(../images/top-bg.jpg) repeat-x 0px 0px #ddf1ff;border-bottom: 1px solid #c2e3fb;}
.review-wrap .g-top-box h1{border-bottom: 1px solid #c2e3fb;margin-top: 20px;margin-bottom: 8px;}
.review-wrap .g-top-box h1 span{display: inline-block;background-color: #ddf1ff;position: relative;bottom:-8px;font-size: 26px;color:#333;padding-right: 17px;}
.review-wrap .g-main-box{padding-bottom:20px;background-color: #fff;}
.review-wrap .g-main-box h1{border-bottom: 1px solid #c2e3fb;margin:20px 34px 8px;}
.review-wrap .g-main-box h1 span{display: inline-block;background-color: #fff;position: relative;bottom:-8px;font-size: 26px;color:#333;padding-right: 17px;}
.review-wrap .g-top-box .main-type-box{padding-top: 20px;}
.review-wrap .g-top-box .main-type-box .type-box{width: 130px;height: 130px;overflow: hidden;}
.review-wrap .g-top-box .main-type-box .type-content{padding-left: 150px;}
.review-wrap .g-top-box .main-type-box .type-content .type-info{font-size: 14px;color:#333;line-height: 24px;margin-bottom: 5px;}
.review-wrap .g-top-box .main-type-box .type-content p{font-size: 12px;color:#666;line-height: 24px;}
.review-wrap .g-main-box .sub-review-item{margin:0 15px 0 34px;padding:30px 0;border-bottom:1px solid #e2e2e2;}
.review-wrap .g-main-box .sub-review-item .sub-type{width: 130px;height: 130px;padding-right: 30px;border-right:1px solid #e2e2e2;overflow: hidden;}
.review-wrap .g-main-box .sub-review-item .sub-info{width: 450px;padding:0 30px;border-right:1px solid #e2e2e2;height:130px;}
.review-wrap .g-main-box .sub-review-item .sub-info h4{font-size: 18px;color:#333;margin-bottom: 7px;}
.review-wrap .g-main-box .sub-review-item .sub-info .hot-key{font-size: 12px;color:#333;margin-bottom: 10px;}
.review-wrap .g-main-box .sub-review-item .sub-info .hot-key a{color:#333;margin-right:5px;}
.review-wrap .g-main-box .sub-review-item .sub-info .hot-key a:hover{color:#0180cf;}
.review-wrap .g-main-box .sub-review-item .sub-info p{font-size: 12px;color:#666;line-height: 20px;}
.review-wrap .g-main-box .sub-review-item .sub-control{width: 240px;padding-left: 30px;}
.review-wrap .g-main-box .sub-review-item .sub-control .sub-ctrl-item{font-size: 12px;color:#333;line-height: 24px;}
.review-wrap .g-main-box .sub-review-item .sub-control .sub-ctrl-item span{color:#ff9900;}
.review-wrap .g-main-box .sub-review-item .sub-control .start-review{display: block;width: 118px;height: 28px;background: url(../images/review-icon.png) no-repeat -182px -90px;margin-top: 8px;}
.review-wrap .g-main-box .sub-review-item .sub-control .start-review:hover{background-position: -182px -118px;}

/*结果*/
.review-wrap .g-top-box .result{font-size: 14px;padding-top: 20px;}
.review-wrap .g-top-box .result .result-info{width: 360px;color:#666;}
.review-wrap .g-top-box .result .result-info .info-row{margin-left: -25px;margin-bottom: 15px;}
.review-wrap .g-top-box .result .result-info .info-row span{margin-left:25px;}
.review-wrap .g-top-box .result .result-info .info-row span em{color:#ff9900;font-style: normal;}
.review-wrap .g-top-box .result .result-info p{font-size: 14px;line-height: 24px;margin-bottom: 2px;}
.review-wrap .g-top-box .result .result-info p a{color:#666;margin-right: 5px;}
.review-wrap .g-top-box .result .result-info p a:hover{color:#0180cf;}
.review-wrap .g-top-box .result .result-card{padding:20px;background-color: #fff;width: 480px;position: relative;margin-left: 415px;*width:470px;}
.review-wrap .g-top-box .result .result-card .result-arrow{position: absolute;top:0;right:0;width: 60px;height: 70px;background: url(../images/corner.jpg) no-repeat 0px 0px;}
.review-wrap .g-top-box .result .result-card h4{font-size: 16px;color:#333;vertical-align: bottom;margin-bottom: 30px;}
.review-wrap .g-top-box .result .result-card h4 span{font-size: 30px;color:#ff9900;}
.review-wrap .g-top-box .result .result-card .result-content{padding-bottom: 10px;}
.review-wrap .g-top-box .result .result-card .result-content .result-icon{width: 85px;height: 85px;background: url(../images/analysis-icon.png) no-repeat 0px 0px;}
.review-wrap .g-top-box .result .result-card .result-content .result-text{padding-left: 88px;}
.review-wrap .g-top-box .result .result-card .result-content .result-text span{font-size: 20px;color:#333;display: block;margin-bottom: 8px;}
.review-wrap .g-top-box .result .result-card .result-content .result-text p{font-size: 16px;line-height: 24px;color:#333;}

/*测评*/
.review-detail-top{padding-top: 20px;}
.review-detail-top div{margin-bottom: 15px;font-size: 14px;color:#666;}
.review-detail-top div span{margin-right: 30px;}
.review-detail-top div span em{font-style: normal;color:#ff9900;}
.review-detail-top p{font-size: 14px;color:#666;line-height: 26px;margin-bottom: 2px;}
.review-detail-top p a{color:#666;margin-right: 5px;}
.review-detail-top p a:hover{color:#0180cf;}
.questions{padding-top:30px;border-bottom: 1px solid #e2e2e2;margin:0 25px;}
.questions .question-item{border:1px solid transparent;padding:10px 40px 15px;margin-bottom: 20px;}
.questions .question-item.error{border-color:#ff6868;}
.questions .question-item .question-index{width: 64px;height: 64px;text-align: center;line-height: 64px;color:#0180cf;background: url(../images/review-icon.png) no-repeat -68px -154px;font-size: 16px;}
.questions .question-item .question-content{padding-left: 90px;color:#333;}
.questions .question-item .question-content .q-title{font-size: 18px;margin-bottom: 15px;}
.questions .question-item .question-content .q-choose-group{font-size: 16px;color:#333;}
.questions .question-item .question-content .q-choose-group label{margin-right: 50px;white-space: nowrap;line-height: 30px;}
.question-control{margin:20px 25px 0;}
.question-control span{font-size: 16px;color:#0180cf;line-height: 40px;}
.question-control .question-btn{width: 168px;height: 48px;line-height: 48px;text-align: center;color:#fff;background-color: #0180cf;font-size: 16px;margin-left: 15px;}
.question-control .question-btn:hover{background-color: #0070bd;}

/*我的*/
.my-review{padding-top: 20px;}
.my-review .my-info{padding-left: 10px;}
.my-review .my-info .my-avater{width: 64px;height: 64px;overflow: hidden;border-radius: 4px;}
.my-review .my-info .info-text{padding-left: 84px;}
.my-review .my-info .info-text h4{font-size: 16px;line-height: 18px;}
.my-review .my-info .info-text p{font-size: 12px;color:#666;margin-top: 9px;font-family: "SimSun";}
.my-review .my-fraction{padding-right: 30px;margin-top: -10px;}
.my-review .my-fraction .fration-item{margin-left: 35px;width: 70px;text-align: center;}
.my-review .my-fraction .fration-item .fration-type{font-size: 16px;color:#666;padding-top: 20px;background: url(../images/review-icon.png) no-repeat -73px 0px;height: 58px;line-height: 18px;}
.my-review .my-fraction .fration-item p{font-size: 16px;color:#666;font-family: Arial;margin-top: 5px;}
.review-data{padding:0 30px;position: relative;}
.review-data table{table-layout: fixed;background-color: #fff;width: 100%;max-width: 100%;border-collapse: collapse;border-spacing: 0;position: relative;z-index: 10;}
.review-data table thead{background-color: #f5f5f5;margin:0 -30px;}
.review-data table tbody{text-align: center;}
.review-data table tbody td{border-bottom: 1px dashed #e2e2e2;}
.review-data table .align-left{text-align: left;padding-left: 20px;}
.review-data table th{font-weight: normal;color:#333;}
.review-data table th,
.review-data table td{padding:15px 0;font-size: 14px;line-height: 18px;}
.review-data table td{color:#666;}
.review-data table td .r-link{color:#0180cf;}
.review-data table td .review-ctrl-link{color:#0180cf;}
.review-data table td span{color:#ff9900;}
.buding{width: 100%;height: 48px;background-color: #f5f5f5;position: absolute;top:0;left:0;z-index: 1;}
/*无数据*/
.no-data{text-align: center;padding:130px 0 110px;}
.no-data .no-data-icon{display: inline-block;width: 122px;height: 122px;background: url(../images/empty.png) no-repeat 0px 0px;vertical-align: middle;margin-right:52px;}
.no-data span{font-size: 26px;color:#333;}

/*底部*/
.link_bk a {color: #666666;text-decoration: none;}
.link_bk a:hover {text-decoration: underline;color:#0180CF;}
.foot{ width:100%; border-top:3px #E4E4E4 solid; background-color:#F2F2F2; margin-top:20px;}
.foot .box{margin:0 auto; width:1000px; font-size:12px;color: #666666; padding-bottom:30px; padding-top:10px;position:relative;margin-top:15px;}
.foot .box .list{ width:162px; float:left; line-height:230%;margin-right:36px;}
.foot .box .weixin{ position:absolute; right:0px; top:15px; width:100px; text-align:center}
.foot .box .weixin img{ margin-top:15px;}
.foot .copyright {width:100%; text-align:center; line-height:180%; color:#999999; padding-bottom:15px;}

.foot .footer_box{border-bottom: 1px solid #ccc;margin-bottom: 17px;font-family: "microsoft yahei";}
.foot .box .list h4{font-family: "microsoft yahei";font-size: 16px;color:#333333;font-weight: normal;line-height: 100%; padding-left:15px;padding-bottom: 9px;border-bottom: 1px solid #ccc;}
.foot .box .list .foot_list{padding: 15px;padding-bottom: 0;padding-right:0;width:147px;height:93px;}
.foot .box .list .foot_list ul{float: left;}
.foot .box .list .foot_list li{font-size: 12px;width:85px;line-height: 100%; padding-bottom: 15px;+line-height: 15px;}
.foot .box .list .foot_list li a:hover{text-decoration:none;color:#0180CF;}
.foot .box .weixin{ position:absolute; right:0px; top:24px; width:100px; text-align:center}
.foot .box .weixin img{ margin-top:6px;}
.foot .box .weixin{width:200px;}
.foot .box .weixin .weixin_img{float: left;margin-right: 36px;color:#333;}
.foot .box .weixin .weixin_img span{font-size: 14px; font-family: "microsoft yahei";}
.foot .box .weixin .comment{font-size: 16px;color:#666666;margin-top: 11px;padding-left: 36px;font-family: "microsoft yahei";background: url(../images/foot_comment.gif) 0px 7px no-repeat;}
.foot .box .weixin .comment p{text-align: left;}
.foot .box .weixin .comment .phone_number{font-size: 18px;font-weight: bold;color:#999999;}
.foot .box .weixin .weixin_cons{}
.foot .box .weixin .weixin_cons .w_txt{float: left;font-size: 16px;color:#333333;width:35px;font-family: "microsoft yahei";margin-left: 21px;margin-top: 18px;margin-right: 12px;}
.foot .box .weixin .weixin_cons img{float: left;}

/*回到顶部组件*/
.back_to_top{position:fixed;right:50px;bottom:50px;_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-40);}
.back_to_top .back{width:39px;height:39px;margin-bottom:15px;border:1px solid #0189DD;background:url(../images/64.gif) 5px 10px no-repeat #0189DD;cursor:pointer;}
.back_to_top .back div{color:#fff;padding:3px 7px;background-color:#0189DD;display:none;_line-height:17px;line-height:17px;}
.back_to_top .steer{width:39px;height:39px;border:1px solid #ccc;background:url(../images/64.gif) 7px -32px no-repeat;cursor:pointer;background-color: #fff;}
.back_to_top .steer div{color:#fff;padding:3px 7px;background-color:#999999;display:none;_line-height:17px;line-height:17px;}
.back_to_top .sub{width:39px;height:39px;border:1px solid #ccc;border-top:0;background:url(../images/64.gif) 5px -72px no-repeat;cursor:pointer;background-color: #fff;}
.back_to_top .sub div{color:#fff;padding:3px 7px;background-color:#999999;display:none;_line-height:17px;line-height:17px;}
.clear{clear:both;font-size:0;height:0;line-height:0} 

/*提示弹出*/
.del-tips-text{display: inline-block;padding-left: 70px;font-size: 14px;color:#333;font-family: "SimSun";background: url(../images/tip-big-icon.png) no-repeat 0px 0px;line-height: 56px;}
.center-btn-wrap{text-align: center;margin-top: 20px;}
.btn-65-30blue{display: inline-block;width: 65px;height: 30px;text-align: center;font-family: "SimSun";color:#fff;font-size: 12px;cursor: pointer;background-color: #0180cf;border:0;margin-right:10px;}
.btn-65-30blue.hover{background-color: #0070bd;}
.btn-65-30grey{display: inline-block;width: 65px;height: 30px;text-align: center;font-family: "SimSun";color:#666666;font-size: 12px;cursor: pointer;background-color: #E3E3E3;border:0;margin-right:10px;}
.btn-65-30grey.hover{background-color: #ccc;}
.btn-75-30blue{display: inline-block;width: 75px;height: 30px;text-align: center;font-family: "SimSun";color:#fff;font-size: 12px;cursor: pointer;background-color: #0180cf;border:0;margin-right:10px;}
.btn-75-30blue.hover{background-color: #0070bd;}
.btn-80-30blue{display: inline-block;width: 80px;height: 30px;text-align: center;font-family: "SimSun";color:#fff;font-size: 12px;cursor: pointer;background-color: #0180cf;border:0;margin-right:10px;}
.btn-80-30blue.hover{background-color: #0070bd;}
.btn-big-font{font-size: 14px;}

/*页码*/
.page{margin:20px auto;text-align: center;list-style:none;padding:0;font-family:"microsoft yahei";overflow:hidden;zoom:1;}
.page li{font-size:12px;float:left;margin-right:5px;}
.page li a{display:block;height:17px;line-height:17px;padding:2px 5px;background-color:#fff;border:1px solid #ccc;text-decoration:none;color:#666666;}
.page li a:hover{border:1px solid #0180CF;color:#0180CF;}
.page li a.select{border:1px solid #0180CF;color:#FFFFFF;background-color:#018FCF;}
.page li.page_all{line-height:23px;}
.page_input {border:1px solid #ccc;width:23px;height:19px;}
.page_submit{background:none;border:1px solid #ccc;margin-left: 5px;cursor:pointer;color:#666666;}
.page_submit:hover{background:#f0f0f0;margin-left: 5px;cursor:pointer;}

/*
**new login
**Edited in 2016-01-22
*/
.loged{}
.loged .avatar-box{width: 70px;height: 70px;overflow: hidden;border-radius: 50%;margin:24px auto 0;}
.loged h4{font-size: 16px;color:#333;text-align: center;margin-top: 8px;}
.loged p{font-size: 14px;color:#666;text-align: center;margin-top: 5px;}
.loged p span{color:#ff9900;}
.loged .loged-btn{display: block;width: 198px;height: 34px;margin:16px auto 0;font-size: 14px;line-height: 34px;text-align: center;/*-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;*/}
.loged .loged-btn.my{color:#fff;background-color: #ff9900;}
.loged .loged-btn.my:hover{background-color: #ff7700;}
.loged .loged-btn.enter-center{color:#fff;background-color: #0180cf;}
.loged .loged-btn.enter-center:hover{background-color: #0070bd;}




























