<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312">
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
<title>{#$title#}</title>
<meta name="description" content="{#$page.description#}">
<meta name="keywords" content="{#$page.keywords#}">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" /> 
<link rel="stylesheet" href="{#$QISHI.site_shop_template#}css/shop.css" />
<script src="{#$QISHI.site_shop_template#}js/jquery.js"></script>
</head>
<body>
	{#include file="../tpl_shop/default/header.htm"#}
	<div class="cheats-banner"></div>
	<div class="cheats-wrap">
		<div class="cheats-row odd">
			<div class="container clearfix">
				<div class="cheats-item f-left">
					<div class="cheat-icon icon1 f-left"></div>
					<div class="cheat-content f-left">
						<h4>完成注册信息</h4>
						<p>新用户注册完成，可获得<br /><span>{#$points_rule.reg_points.value#}</span>积分</p>
					</div>
				</div>
				<div class="cheats-item f-left">
					<div class="cheat-icon icon2 f-left"></div>
					<div class="cheat-content f-left">
						<h4>完善基本资料</h4>
						<p>完善基本资料，可获得<br /><span>{#$points_rule.company_profile_points.value#}</span>积分</p>
					</div>
				</div>
				<div class="cheats-item f-left">
					<div class="cheat-icon icon3 f-left"></div>
					<div class="cheat-content f-left">
						<h4>上传企业logo</h4>
						<p>上传企业logo，可获得<br /><span>{#$points_rule.company_logo_points.value#}</span>积分</p>
					</div>
				</div>
				<div class="cheats-item f-left">
					<div class="cheat-icon icon4 f-left"></div>
					<div class="cheat-content f-left">
						<h4>每天第一次登录</h4>
						<p>每天第一次登录，可获得<br /><span>{#$points_rule.userlogin.value#}</span>积分</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cheats-row clearfix">
			<div class="container clearfix">
				<div class="cheats-item f-left">
					<div class="cheat-icon icon5 f-left"></div>
					<div class="cheat-content f-left">
						<h4>电子邮箱认证</h4>
						<p>认证电子邮箱，可获得<br /><span>{#$points_rule.verifyemail.value#}</span>积分</p>
					</div>
				</div>
				<div class="cheats-item f-left">
					<div class="cheat-icon icon6 f-left"></div>
					<div class="cheat-content f-left">
						<h4>手机号码认证</h4>
						<p>认证手机号码，可获得<br /><span>{#$points_rule.verifymobile.value#}</span>积分</p>
					</div>
				</div>
				<div class="cheats-item f-left">
					<div class="cheat-icon icon7 f-left"></div>
					<div class="cheat-content f-left">
						<h4>营业执照认证</h4>
						<p>营业执照认证，可获得<br /><span>{#$points_rule.company_auth.value#}</span>积分</p>
					</div>
				</div>
				<div class="cheats-item f-left">
					<div class="cheat-icon icon8 f-left"></div>
					<div class="cheat-content f-left">
						<h4>微信号认证</h4>
						<p>认证微信号，可获得<br /><span>{#$points_rule.company_wx_points.value#}</span>积分</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cheats-row odd clearfix">
			<div class="container clearfix">
				<div class="cheats-item f-left">
					<div class="cheat-icon icon9 f-left"></div>
					<div class="cheat-content f-left">
						<h4>开通企业地图</h4>
						<p>开通企业地图，可获得<br /><span>{#$points_rule.company_map.value#}</span>积分</p>
					</div>
				</div>
				<div class="cheats-item f-left">
					<div class="cheat-icon icon10 f-left"></div>
					<div class="cheat-content f-left">
						<h4>上传企业风采</h4>
						<p>上传企业风采，可获得<br /><span>{#$points_rule.company_img_points.value#}</span>积分</p>
					</div>
				</div>
				<div class="cheats-item f-left">
					<div class="cheat-icon icon11 f-left"></div>
					<div class="cheat-content f-left">
						<h4>发布企业动态</h4>
						<p>发布企业动态，可获得<br /><span>{#$points_rule.company_news_points.value#}</span>积分</p>
					</div>
				</div>
				<div class="cheats-item f-left">
					<div class="cheat-icon icon14 f-left"></div>
					<div class="cheat-content f-left">
						<h4>举报虚假简历</h4>
						<p>举报虚假简历，可获得<br /><span>{#$points_rule.company_report_resume_points.value#}</span>积分</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{#include file="footer.htm"#}
</body>
</html>