<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="gb2312">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	{#qishi_pageinfo set="列表名:page,调用:QS_index"#}
	<title>关于我们 - {#$QISHI.site_name#}</title>
	<meta name="author" content="找葫芦" />
	<meta name="copyright" content="zhaohulu.com" />
	<meta name="description" content="{#$page.description#}" id="description">
	<meta name="keywords" content="{#$page.keywords#}">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/about.css">
	<script type="text/javascript" src="./js/jquery-1.11.3.js" ></script>
	<script type='text/javascript' src="./js/jquery.common.js" ></script>
</head>
<body class="global-bg">
	<div class="global-container">
		<header class="global-header">
			<div class="header-left"  id="pageback">
				<a href="javascript:;" class="header-back"><i class="w-icon w-icon-back"></i></a>
			</div>
			<div class="header-center"><span class="title-only">关于我们</span></div>
			{#if $smarty.session.utype!=1 && $smarty.session.utype!=2#}
			<div class="header-user"><a href="login.php"><i class="w-icon w-icon-user"></i></a></div>
			{#else#}
			<div class="header-user">
				<a href="{#$QISHI.wap_domain#}/{#if $smarty.session.utype==1#}company/user.php{#else if $smarty.session.utype==2#}personal/user.php{#/if#}">
					{#if $smarty.session.avatars!=''#}
					<img src="{#$smarty.session.avatars#}" alt="" width="24" height="24">
					{#else#}
					<i class="w-icon w-icon-user"></i>
					{#/if#}
				</a>
			</div>
			{#/if#}
		</header>
		<div class="content-wrap">
			<div class="about-head">
				<h1>{#$QISHI.site_name#}</h1>
				<div class="bottom-bg"></div>
			</div>
			<div class="about-main">
				<p>{#$site_detail#}</p>
			</div>
		</div>
		{#include file="m/footer.htm"#}
	</div>
	<div class="back-to-top"><i class="w-icon w-icon-up"></i></div>
	

	<script src="js/jquery.min.js"></script>
	<script src="js/fastclick.js"></script>
</body>
</html>