<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="gb2312">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>微信-绑定账号</title>
	<meta name="description" content="{#$page.description#}" id="description">
	<meta name="keywords" content="{#$page.keywords#}">
<meta name="author" content="找葫芦网" />
<meta name="copyright" content="zhaohulu.com" />
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/login-reg.css">
	<script type="text/javascript" src="./js/jquery-1.11.3.js" ></script>
	<script type='text/javascript' src="./js/jquery.common.js" ></script>
	<script type="text/javascript" src="./js/layer/layer.js" ></script>
</head>
<body class="global-bg">
	<div class="global-container">
		<header class="global-header">
			<div class="header-left" id="pageback">
				<a href="javascript:;" class="header-back"><i class="w-icon w-icon-back"></i></a>
			</div>
			<div class="header-center"><span class="title-only">绑定账号</span></div>
		</header>
		<div class="content-wrap">
			<div class="bind-success">
				<img style='margin: -3px auto;' width='30' height='30' src='images/44.png'><span style='font-size:30px;'>&nbsp;绑定成功！</span>
			</div>
			<div class="bs-tip">绑定成功后可用微信扫码登录或者管理信息</div>
			<div class="user_login_getpws link_blue">
				<a href="index.php">点击立即登录网站首页</a>
			</div>
		</div>
	</div>
	{#include file="m/footer.htm"#}
</body>
</html>


