<!DOCTYPE HTML>
<html>
<head>
<title>招聘信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="format-detection" content="address=no;">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="author" content="找葫芦" />
<meta name="copyright" content="zhaohulu.com" />
<link type="text/css" href="./css/wzp_style.css" rel="stylesheet" />
<link type="text/css" href="./css/wzp_style_left.css" rel="stylesheet" />
</head>
<body>
  <div class="posit_none_logo">
    
  </div>
</body>
</html>