<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="gb2312">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	{#qishi_pageinfo set="列表名:page,调用:QS_index"#}
	<title>{#$QISHI.site_name#}-找回密码</title>
	<meta name="description" content="{#$page.description#}" id="description">
	<meta name="keywords" content="{#$page.keywords#}">
	<meta name="author" content="找葫芦" />
	<meta name="copyright" content="zhaohulu.com" />
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/login-reg.css">
	<script type="text/javascript" src="./js/jquery-1.11.3.js" ></script>
	<script type="text/javascript" src="./js/layer/layer.js" ></script>
</head>
<body class="global-bg">
	<div class="global-container">
		<header class="global-header">
			<div class="header-left">
				<a href="javascript:;" class="header-back"><i class="w-icon w-icon-back"></i></a>
			</div>
			<div class="header-center"><span class="title-only">找回密码</span></div>
		</header>
		<div class="content-wrap">
			<div id="err"></div>
			<nav class="top-tab layout-box">
				<div class="tab-item box-col {#if $type==1#}active{#/if#}"><span>手机号</span></div>
				<div class="tab-item box-col {#if $type!=1#}active{#/if#}"><span>邮箱</span></div>
			</nav>
			<section class="user-form-wrap">
				<!-- 手机号找回 -->
				<div class="form-tab-item" id="phone" {#if $type==1#}style="display:block;"{#/if#}>
					<p class="pass-tip">你已通过手机验证，请输入新密码</p>
					<div class="user-form">
						<div class="form-row clearfix">
							<i class="user-icon pwd f-left"></i>
							<div class="input-area"><input type="password" name="password" id="" placeholder="请输入6-16位密码"></div>
						</div>
						<div class="form-row clearfix">
							<i class="user-icon pwd f-left"></i>
							<div class="input-area"><input type="password" name="password_two" id="" placeholder="请再次输入密码"></div>
						</div>
					</div>
					<div class="user-submit"><button class="user-submit-btn" type="submit">重置密码</button></div>
				</div>
				<!-- 邮箱找回 -->
				<div class="form-tab-item" id="eMail" {#if $type!=1#}style="display:block;"{#/if#}>
					<p class="pass-tip">你已通过邮箱验证，请输入新密码</p>
					<div class="user-form">
						<div class="form-row clearfix">
							<i class="user-icon pwd f-left"></i>
							<div class="input-area"><input type="password" name="password" id="" placeholder="请输入6-16位密码"></div>
						</div>
						<div class="form-row clearfix">
							<i class="user-icon pwd f-left"></i>
							<div class="input-area"><input type="password" name="password_two" id="" placeholder="请再次输入密码"></div>
						</div>
					</div>
					<div class="user-submit"><button class="user-submit-btn" type="submit">重置密码</button></div>
				</div>
				<input type="hidden" name="type" id="type" value="{#$type#}">
				<input type="hidden" name="username" id="username" value="{#$username#}">
			</section>
		</div>
	</div>
	

	<script src="./js/jquery.min.js"></script>
	<script src="./js/fastclick.js"></script>
	<script>
		$(function() {
			// 切换
			/*$('.top-tab .tab-item').on('click', function() {
				var index = $(this).index();
				$(this).addClass('active').siblings().removeClass('active');
				$('.user-form-wrap .form-tab-item').eq(index).show().siblings().hide();
			})*/
			// 验证码延迟
			$('#codeBtn').on('click', function() {
				showTime(30);
			});
			//修改密码
			$('.user-submit-btn').on('click', function() {
				if ($(this).parents('.form-tab-item').attr('id') == 'eMail') {
					var password =$("#eMail input[name=password]").val();
					var password_two =$("#eMail input[name=password_two]").val();
				}else if($(this).parents('.form-tab-item').attr('id') == 'phone') {
					var password =$("#phone input[name=password]").val();
					var password_two =$("#phone input[name=password_two]").val();
				}
				var username =$("input[name=username]").val();
				$.post("?act=set_pass_save",{username:username,password:password,password_two:password_two},function(data){
					if(data=="ok")
					{
						layer.msg("成功修改密码");
						window.location.href='login.php';
					}
					else
					{
						var html = '<div class="user-form-error" style="display: block;"><i class="error-icon"></i>'+data+'</div>';
						$("#err").html(html);
					}
				})
			});
		});
		function showTime(time){
			$('#codeBtn').prop('disabled', true);

			for (var i = 0; i <= time; i++) {
				window.setTimeout("updateP("+ i +","+time+")", i*1000);
			};
		};
		function updateP(num, time) {
			if(num == time) {
				$('#codeBtn').val('重新发送').prop('disabled', false);
			}else{
				var printnr = time - num;
				$('#codeBtn').val(printnr +"秒重新发送");
			}
		}
	</script>
</body>
</html>