<!doctype html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="gb2312">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	{#qishi_pageinfo set="列表名:page,调用:QS_index"#}
	<title>{#$QISHI.site_name#}-填写微招聘</title>
	<meta name="description" content="{#$page.description#}" id="description">
	<meta name="keywords" content="{#$page.keywords#}">
<meta name="author" content="找葫芦网" />
<meta name="copyright" content="zhaohulu.com" />
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/simple.css">
	<script type="text/javascript" src="./js/jquery-1.11.3.js" ></script>
	<script type='text/javascript' src="./js/jquery.common.js" ></script>
	<script type="text/javascript" src="./js/layer/layer.js" ></script>
	<script type="text/javascript" src="./js/jquery.editCMsubsite.js" ></script>
	<script type="text/javascript" src="./js/popWin.js" ></script>
	<script type="text/javascript" src="./js/iscroll.js" ></script>
	<script src="{#$QISHI.site_domain#}{#$QISHI.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.thisurl').click( function () {window.location.href =  $(this).attr('url');});
		});
	</script>
</head>
<body class="global-bg">
	<div class="global-container">
		<header class="global-header">
			<div class="header-left" id="pageback">
				<a href="javascript:;" class="header-back"><i class="w-icon w-icon-back"></i></a>
			</div>
			<div class="header-center">
				<div class="header-tab clearfix">
					<div class="h-tab-item active thisurl" url="simple-list.php">微招聘</div>
					<div class="h-tab-item thisurl" url="simple-resume-list.php">微简历</div>
				</div>
			</div>
			{#if $smarty.session.utype!=1 && $smarty.session.utype!=2#}
			<div class="header-user"><a href="login.php"><i class="w-icon w-icon-user"></i></a></div>
			{#else#}
			<div class="header-user">
				<a href="{#$QISHI.wap_domain#}/{#if $smarty.session.utype==1#}company/user.php{#else if $smarty.session.utype==2#}personal/user.php{#/if#}">
					{#if $smarty.session.avatars!=''#}
					<img src="{#$smarty.session.avatars#}" alt="" width="24" height="24">
					{#else#}
					<i class="w-icon w-icon-user"></i>
					{#/if#}
				</a>
			</div>
			{#/if#}
		</header>
		<div class="content-wrap">
			<div class="simple-deit-tip">无需注册，十秒填招聘</div>
			<article class="formDiv">
				<div class="formChild">
					<div class="lt">招聘职位</div>
					<div class="mt"><input id="jobname" name="jobname" value="" /></div>
				</div>
				<div class="formChild">
					<div class="lt">招聘人数</div>
					<div class="mt"><input id="amount" name="amount" value="" /></div>
				</div>
				<div class="formChild">
					<div class="lt">公司名称</div>
					<div class="mt"><input id="comname" name="comname" value="" /></div>
				</div>
				<div class="formChild notRformChild">
					<div class="lt">联系人</div>
					<div class="mt"><input id="contact" name="contact" value="" /></div>
				</div>
				<div class="formChild notRformChild">
					<div class="lt">联系电话</div>
					<div class="mt"><input id="tel" name="tel" value="" /></div>
				</div>
				<div class="formChild">
					<div class="lt">工作地区</div>
					<label id="citysimpleTxt" data-type="city" data-go="city" data-text="选择工作地区" class="mt check mbs"></label>
					<input type="hidden" id="district" name="district" value="" />
					<input type="hidden" id="sdistrict" name="sdistrict" value="" />
					<input type="hidden" id="district_cn" name="district_cn" value="" />
					<input type="hidden" id="sdistrict_cn" name="sdistrict_cn" value="">
					<input type="hidden" id="subsite_id" name="subsite_id" value="{#$QISHI.subsite_id#}" />
				</div>
				<div class="formChild">
					<div class="lt">有效期至</div>
					<label id="validityTxt" data-type="validitys" data-text="选择有效期" class="mt check mbs"></label>
					<input type="hidden" id="validity" name="validity" value="" />
					<input type="hidden" id="validity_cn" name="validity_cn" value="" />
				</div>
				<div class="formChild">
					<div class="lt">具体要求</div>
					<label id="detailedTxt" class="mt check"></label>
					<input type="hidden" id="detailed" name="detailed" value="" />
				</div>
				<div class="formChild notRformChild">
					<div class="lt">管理密码</div>
					<div class="mt"><input id="password" name="password" value="" placeholder="请牢记管理密码！" /></div>
				</div>
			</article>
			<div class="edit-wrap">
				<div class="edit-bottom-submit"><a href="javascript:;"><button class="button blue hundred-percent">发布微招聘</button></a></div>
			</div>
		</div>
		{#include file="m/footer.htm"#}
	</div>
	<div class="back-to-top"><i class="w-icon w-icon-up"></i></div>
	<div class="select_bar_div"></div>

	<script src="js/jquery.min.js"></script>
	<script src="js/fastclick.js"></script>
	<script src="js/mb.js" ></script>
	<script>
		$(function() {
			$('.select-componment').on('change', function() {
				changeVal();
			});
			function changeVal(){
				$('.select-componment').each(function() {
					var optionVal = $(this).find('option:selected').text();
					var thisVal = $(this).attr('type', $(this).val());
					$(this).parent().find('.select-txt').html(optionVal);
				})
			}
			changeVal();
			//ajax发布微招聘
			var isPost = true;
			$(".blue").click(function(){
				var jobname =$("input[name=jobname]").val();
				var amount =$("input[name=amount]").val();
				var comname =$("input[name=comname]").val();
				var contact =$("input[name=contact]").val();
				var tel =$("input[name=tel]").val();
				var district =$("input[name=district]").val();
				var sdistrict =$("input[name=sdistrict]").val();
				var district_cn =$("input[name=district_cn]").val();
				var sdistrict_cn =$("input[name=sdistrict_cn]").val();
				var subsite_id =$("input[name=subsite_id]").val();
				var validity =$("#validity").val();
				var detailed =$("input[name=detailed]").val();
				var pwd =$("input[name=password]").val();
				if (isPost) {
					isPost = false;
					$.post("?act=add_save",{jobname:jobname,amount:amount,comname:comname,contact:contact,tel:tel,district:district,sdistrict:sdistrict,district_cn:district_cn,sdistrict_cn:sdistrict_cn,subsite_id:subsite_id,validity:validity,pwd:pwd,detailed:detailed},function(data){
						if(data=="ok")
						{
							layer.msg('发布微招聘成功！', {icon: 1});
							setTimeout(function () {
			                    window.location.href='simple-list.php';
			                }, 2000);
						}else{
							layer.msg(data);
							$('.layui-layer').css("left",($(window).width() - $('.layui-layer').outerWidth())/2);
						}
						isPost = true;
					})
				};
			});
		});
	</script>
</body>
</html>