{#include file="sys/admin_header.htm"#}
<script type="text/javascript" src="js/jquery.userinfotip-min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{


	$("#ButDel").QSdialog({
	DialogContent:"#GetDelInfo",
	DialogContentType:"id",
	DialogAddObj:"#DelSel",	
	DialogWidth:"500",
	DialogAddType:"html"
	});
	$(".RewardCompany").live("click",function(){
		var status=($(this).attr("data-status"))
		var id=($(this).attr("data-cid"))

		$("#s"+status).attr("checked",true);
		if(status==1){
			status="审核通过"
		}else if(status==0){
			status="待审核"
		}if(status==2){
			status="拒绝"
		}
		$("#status1").text(status);
		$("#ccid").val(id);



		$("#RewardCompany").click();

	})
	$("#RewardCompany").QSdialog({
		DialogTitle: "审核操作",
		DialogContent: "#DivRewardCompany",
		DialogContentType: "id",
		DialogAddObj: "#OpRewardCompany",
		DialogAddType: "html"

	});


	//点击批量设置顾问
	$("#AddConsultant").click(function(){
		$("form[name=form1]").attr("action","?act=consultant_install");
		$("form[name=form1]").submit()
	});
});
</script>
<div class="admin_main_nr_dbox">
<div class="pagetit">
	<div class="ptit"> {#$pageheader#}</div>
  <div class="clear"></div>
</div>


  <div class="seltpye_x">
		<div class="left">审核状态</div>
		<div class="right">
		<!--<a href="{#"status:"|qishi_parse_url#}" {#if $smarty.get.status==""#}class="select"{#/if#}>不限</a>-->
		<a href="{#"status:0"|qishi_parse_url#}" {#if $smarty.get.status=="0"||$status==0#}class="select"{#/if#}>待审核</a>
		<a href="{#"status:1"|qishi_parse_url#}" {#if $smarty.get.status=="1"#}class="select"{#/if#}>审核通过</a>
		<a href="{#"status:2"|qishi_parse_url#}" {#if $smarty.get.status=="2"#}class="select"{#/if#}>拒绝</a>
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
  </div>
  <form id="form1" name="form1" method="post" action="?act=check_save">
  {#$inputtoken#}
  <table width="100%" border="0" cellpadding="0" cellspacing="0"  id="list" class="link_lan">
    <tr>
      <td  class="admin_list_tit admin_list_first" >
      <label id="chkAll"><input type="checkbox" name=" " title="全选/反选" id="chk"/>用户名</label></td>

      <td  class="admin_list_tit">企业名</td>
       <td  class="admin_list_tit">企业信息</td>
      <td width="10%"   align="center"   class="admin_list_tit">注册时间</td>
      <td width="10%"   align="center"   class="admin_list_tit">注册IP</td>
	  <td width="10%"   align="center"   class="admin_list_tit">操作理由</td>
	  <td width="10%"   align="center"   class="admin_list_tit">操作日志</td>

      <td width="13%"  align="center"  class="admin_list_tit" >操作</td>
    </tr>
	{#foreach from=$member item=list#}
      <tr>
      <td class="admin_list admin_list_first">
        <input name="tuid[]" type="checkbox" id="tuid" value="{#$list.uid#}"/>{#$list.username#}(<span style="color:red">{#if $list.check_status==1#}已通过{#elseif $list.check_status==2#}拒绝{#else#}待审核{#/if#}</span>)
		</td>
          <td class="admin_list">


			  <a href="?act=management&id={#$list.company_id#}" target="_blank">{#$list.company_name#}</a>

           </td>


        <td class="admin_list">
		{#if $list.companyname#}
 		<a href="act=management&id={#$list.company_id#}" target="_blank">{#$list.companyname#}</a>
		{#else#}<span style="color: #999999">未完善企业资料</span>
		{#/if#}
		</td>
		<td align="center" class="admin_list">
		{#$list.reg_time|date_format:"%Y-%m-%d"#}
		</td>
		<td align="center" class="admin_list"> {#$list.reg_ip#} </td>
		<td align="center" class="admin_list">
	 	{#$list.reason#}
		</td>
		  <td align="center" class="admin_list">
			  <a href="?act=applay_check_log&cid={#$list.cid#}">操作日志</a>
		  </td>

        <td align="center" class="admin_list">
			 <input type="button" class="RewardCompany admin_submit"   value="操作" data-status="{#$list.check_status#}" data-cid="{#$list.cid#}" class="admin_submit">
		</td>
      </tr>
      {#/foreach#}
    </table>
	  <span id="RewardCompany"></span>
	<span id="DelSel"></span>
	  <span id="OpRewardCompany"></span>
  </form>
	{#if !$member#}
	<div class="admin_list_no_info">没有任何信息！</div>
	{#/if#}
 <div class="page link_bk">{#$page#}</div>
	<div id="GetDelInfo" style="display: none" >

		</div>
</div>


<div style="display:none" id="DivRewardCompany">
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1">
		<tr>
			<td width="130" height="30">当前状态:</td>
			<td height="30" id="status1"></td>
		</tr>
		<tr>
			<td width="130" height="30">操作:</td>
			<td height="30"><input type="radio" name="status" value="1"  id="s1">通过
 				<input type="radio" name="status" value="2" id="s2">拒绝
				 </td>
		</tr>
		<tr>
			<td width="130" height="25">理由:</td>
			<td>
				<textarea name="reason" id="reason" cols="50" style="font-size:12px"></textarea>
			</td>
		</tr>
		<tr>
			<td height="25">&nbsp;</td>
			<td> {#$inputtoken#}
				<input type="hidden" name="id" id="ccid" value="">

				<input type="submit" name="reduce_money" value="确定" class="admin_submit"/></td>
		</tr>
	</table>
</div>
{#include file="sys/admin_footer.htm"#}
</body>
</html>