<div class="content link_lan spread_dialog">
    <table width="480">
        <tbody>
        <tr height="50">
            <td width="90">推广职位：</td>
            <td>{#$jobs_name#}</td>
        </tr>
        <tr height="30"  >
            <td>推广方案：</td>
            <td  >
                <div style="color:{#$cp_val#}">{#$promotion_name#}</div>
            </td>

        </tr>
        {#$other#}
        </tbody>
    </table>

 </div>
<div class="spread_but_box">
    <input type="hidden" id="jobid" value="{#$jobid#}">
    <input type="hidden" id="catid" value="{#$catid#}">
    <input type="button" value="关闭" class="but95cheng DialogClose"/>
</div>
