<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=gb2312">
    <title>{#$title#}</title>
    <link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico"/>
    <meta name="author" content="找葫芦"/>
    <meta name="copyright" content="zhaohulu.com"/>
    <link href="{#$QISHI.site_template#}css/user_common.css" rel="stylesheet" type="text/css"/>
    <link href="{#$QISHI.site_template#}css/user_company.css" rel="stylesheet" type="text/css"/>
    <link href="{#$QISHI.site_template#}css/ui-dialog.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{#$QISHI.site_template#}css/datepicker.css"/>
    <script src="{#$QISHI.site_template#}js/jquery.js" type="text/javascript" language="javascript"></script>
    <script src="{#$QISHI.site_template#}js/dialog-min.js" type="text/javascript" language="javascript"></script>
    <script src="{#$QISHI.site_template#}js/dialog-min-common.js" type="text/javascript" language="javascript"></script>
    <script src="{#$QISHI.site_template#}js/jquery.vtip-min.js" type="text/javascript" language="javascript"></script>
    <script type="text/javascript" src="{#$QISHI.site_template#}js/jquery.datepicker.js"></script>
    <script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript'
            language="javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {


            $('.name-link').toggle(function () {
                $(this).parents('.c-data-content').removeClass('data-no-read').next().show();
                $(this).parents('.c-data-row').css({'border-color': '#fff'});
            }, function () {
                $(this).parents('.c-data-content').next().hide();
                $(this).parents('.c-data-row').css({'border-color': '#ccc'});
            });
            // 顶部筛选
            $('.data-filter').on('click', function (e) {
                $(this).find('.filter-down').toggle();
                var fWidth = $(this).find('.filter-span').outerWidth(true) - 2;
                $(this).find(".filter-down").width(fWidth);
                $(document).one("click", function () {
                    $('.filter-down').hide();
                });
                e.stopPropagation();
                $(".data-filter").not($(this)).find('.filter-down').hide();
            })
            // 状态
            $('.state-icon').on('click', function (e) {
                $(this).next().toggle();
                $(document).one('click', function () {
                    $('.state-list').hide();
                });
                e.stopPropagation();
                $('.state-icon').not($(this)).next().hide();
            });
            $('.state-list .state').on('click', function (e) {
                var resume_state = $(this).attr('state');
                var resume_state_cn = $(this).text();
                var resume_id = $(this).attr('resume_id');
                $.post('{#$QISHI.site_dir#}user/user_label_resume.php', {
                    "resume_state": resume_state,
                    "resume_state_cn": resume_state_cn,
                    "resume_id": resume_id
                }, function (data) {
                    if (data == "ok") {
                        window.location.replace(location);
                    }
                    else {
                        alert(data);
                        $('.state-list').hide();
                    }
                });
                e.stopPropagation();
            });
            // 删除弹出
            delete_dialog('.ctrl-del', '#form1');
            //邀请面试弹出
            inviteJob_dialog('.inter-job', "{#$QISHI.site_dir#}user/user_invited.php", '{#$smarty.session.utype#}');
            // 发送到邮箱弹出
            companySendToEmail_dialog('.db-btn.btn3', './company_ajax.php');
        })


        //验证
        $(document).ready(function () {
            $("#Form_upload").validate({
// debug: true,
// onsubmit:false,
//onfocusout :true,
                rules: {
                    logo: {
                        required: true,
                        accept: "xls"
                    }
                },
                messages: {
                    logo: {
                        required: jQuery.format("请上传简历"),
                        accept: jQuery.format("文件格式支持xls")
                    }
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio"))
                        error.appendTo(element.parent().next().next());
                    else if (element.is(":checkbox"))
                        error.appendTo(element.next());
                    else
                        error.appendTo(element.parent());
                }
            });

            $("#up").click(function () {
                if ($("#Form_upload").valid()) {
                    $("#upform").hide();
                    $("#upform_wait").show();
                }
            });

        });
    </script>
</head>
<body {#if
      $QISHI.body_bgimg#}style="background:url({#$QISHI.site_domain#}{#$QISHI.site_dir#}data/{#$QISHI.updir_images#}/{#$QISHI.body_bgimg#}) repeat-x center 38px;"
      {#
/if#}>
{#include file="user/header.htm"#}
<div class="page_location link_bk">当前位置：<a href="{#$QISHI.site_dir#}">首页</a> > <a href="{#$userindexurl#}">会员中心</a> >
    收到的简历
</div>
<div class="usermain">
    <div class="leftmenu  com link_bk">
        {#include file="member_company/left.htm"#}
    </div>
    <div class="rightmain">
        <div class="bbox1">
            <div class="topnav get_resume">
                <div class="titleH1">
                    <div class="h1-title">上传简历</div>
                </div>
                {#include file="member_company/upload_nav.htm"#}
            </div>
            <br>  <br>
            <div style="text-align: center ;font-size:15px;"><b> 您已审核通过的简历{#$userinfo.resume_passed#}条,未通过简历{#$userinfo.resume_delete#}条,待审核简历{#$total#}条.
                <b></div><br><br>


            <form id="form1" name="form1" method="post" action="?act=set_apply_jobs">
                <div class="company-data-list">
                    <div class="c-data-top apply_jobs clearfix">
                        <div class="item f-left check-item"><input type="checkbox" name="chkAll" id="chk"
                                                                   title="全选/反选"/></div>

                        <div class="item f-left top-item2">姓名</div>
                        <div class="item f-left top-item3">邮箱</div>
                        <div class="item f-left top-item2">电话</div>
                        <div class="item f-left top-item4">上传时间</div>
                        <div class="item f-left top-item1">状态</div>

                        <div class="item f-left  ">上传文件</div>

                    </div>
                    {#if $uploads#}
                    {#foreach from=$uploads item=list#}

                    <div class="c-data-row">
                        <div class='c-data-content apply_jobs clearfix {#if $list.personal_look=="1" && $smarty.get.look==""#}data-no-read{#/if#}'>
                            <div class="c-item f-left check-item"><input name="y_id[]" type="checkbox" id="y_id"
                                                                         value="{#$list.did#}"/></div>

                            <div class="c-item f-left content2">&nbsp; {#$list.fullname#}</div>

                            <div class="c-item f-left content3">&nbsp;{#$list.email#}</div>

                            <div class="c-item f-left content2">&nbsp;{#$list.telephone#}</div>
                            <div class="c-item f-left content3">&nbsp;{#$list.upload_time#}</div>
                            <div class="c-item f-left content2">待审核</div>

                            <div class="c-item f-left  content" title="{#$list.file_name#}" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;width:150px;">{#$list.file_name#}</div>


                        </div>

                        </div>


                        {#/foreach#}

                        {#else#}
                        <div class="emptytip">没有找到对应的信息！</div>
                        {#/if#}
                    </div>
            </form>
            {#if $page#}
            <table border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td height="50" align="center">
                        <div class="page link_bk">{#$page#}</div>
                    </td>
                </tr>
            </table>
            {#/if#}
        </div>
    </div>
    <div class="clear"></div>
</div>
{#include file="user/footer.htm"#}
</body>
</html>