
<a href="?act=pay_add" {#if $act=="pay_add"#}class="se"{#/if#} >现金充值</a>
<a href="?act=pay_reduce" {#if $act=="pay_reduce"#}class="se"{#/if#} >提现</a>

{#if $QISHI.operation_mode=="1" || $QISHI.operation_mode=="3"#}
<a href="?act=order_add" {#if $act=="order_add"#}class="se"{#/if#}>积分充值</a>
{#/if#}
{#if $QISHI.operation_mode=="2" || $QISHI.operation_mode=="3"#}
<a href="?act=setmeal_list" {#if $act=="setmeal_list"#}class="se"{#/if#}>申请VIP套餐</a>
{#/if#}
<a href="?act=order_list" {#if $act=="order_list"#}class="se"{#/if#}>我的订单</a>
{#if $QISHI.operation_mode=="1" || $QISHI.operation_mode=="3"#}
<a href="?act=gifts" {#if $act=="gifts"#}class="se"{#/if#}>礼品卡</a>
{#/if#}