{#qishi_jobs_show set="列表名:show,职位ID:GET[id]"#}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$show.jobs_name#} - {#$show.companyname#} - {#$QISHI.site_name#}</title>
<meta name="description" content="{#$show.companyname#}招聘{#$show.jobs_name#}">
<meta name="keywords" content="{#$show.jobs_name#}，{#$show.companyname#}">
<meta name="author" content="找葫芦" />
<meta name="copyright" content="zhaohulu.com" />
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/header.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$user_tpl#}css/css.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_hunter_template#}css/hunter.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/ui-dialog.css" rel="stylesheet" type="text/css" />	
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/dialog-min.js"></script>
<script src="{#$QISHI.site_template#}js/dialog-min-common.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
		var id="{#$show.id#}";
		var tsTimeStamp= new Date().getTime();
		$.get("{#$QISHI.site_dir#}plus/ajax_click.php", { "id": id,"time":tsTimeStamp,"act":"hunterjobs_click"},
			function (data,textStatus)
			 {			
				$(".click").html(data);
			 }
		);
		$.get("{#$QISHI.site_dir#}plus/ajax_contact.php", { "id": id,"time":tsTimeStamp,"act":"hunterjobs_contact"},
			function (data,textStatus)
			 {			
				$(".jobs_contact").html(data);
			 }
		);
		// 申请职位
		//applyJob_dialog(".apply_job_colorpiece","{#$QISHI.site_dir#}user/user_apply_hunter_jobs.php");
		//提供人才线索赚取佣金
		$("#xiansuo").click(function(){
			var jobs_id=$(this).attr('jobs_id');
			var url="{#$QISHI.site_dir#}plus/ajax_xiansuo.php?jobs_id="+jobs_id;
			var myDialog = dialog();
			myDialog.title('人才线索');
			myDialog.width('500');
			myDialog.content("加载中...");
			myDialog.showModal();
			$.get(url, function(data){
				myDialog.content(data);
			});
		});	
		
});
$(function(){
	$("input[type='button']").hover(function(){
		$(this).addClass("hover");
	},function(){
		$(this).removeClass("hover");
	})
})
</script>
</head>
<body class="bgf5">
	<!--<div style="padding:30px 0 0 0;width:1200px;margin:0 auto;">
		<div class="header-wrap"><a href="{#$QISHI.site_dir#}"><img src="{#$QISHI.upfiles_dir#}{#$QISHI.web_logo#}" alt="{#$QISHI.site_name#}" height="70" /></a></div>
	</div>-->
	<div class="talents_information">
		<div class="between" style="border:1px solid #ccc;">
			<div class="hunterbox_container position_summary">
				<div class="box_content">
                      <div class="hjs-img">
                           <span class="hjs-img-span">悬赏</span>
                           <h3>{#$show.jobs_name#}</h3>
                           <p>赏金：成功面试50元，入职200元 <span>需求：{#$show.amount#}人</span></p>
                        </div>
					<div class="cell">
                        <h2 class="cell-h2">月薪：{#$show.wage_cn#}</h2>
						<div class="company">
							<span class="company-span region f-left">{#$show.district_cn#}</span>
                            <span class="company-span time f-left">发布于：{#$show.addtime|date_format:"%Y-%m-%d"#}</span>
                            <div class="clearfix"></div>
						</div>
						<div class="info">
							<span class="age f-left">{#$show.education_cn|default:"不限"#}</span>
                            <span class="xian f-left"> | </span>
							<span class="age f-left">{#$show.experience_cn#}</span>
                            <span class="xian f-left"> | </span>
							<span class="age f-left">{#$show.languagecn|default:"不限"#}</span>
                            <span class="xian f-left"> | </span>
                            <span class="age f-left">{#$show.age#}岁</span>
                            <div class="clearfix"></div>
						</div>
						<div class="welfare">
							<ul>
								{#foreach from=$show.structure item=slist#}
								<li>
									<p>{#$slist.value#}</p>
								</li>
								{#/foreach#}
							</ul>
							<div class="clear"></div>
						</div>
						<div class="apply_job_colorpiece" jobs_id="{#$show.id#}" id="xiansuo">提供人才线索赚佣金</div>
                        <a href="" class="collection">收藏</a>
					</div>
				</div>
			</div>
            <!-- 职位描述 -->
			<div class="hunterbox_container job_describe_box">
				<div class="h">
					<div class="t">职位描述</div>
					<div class="clear"></div>
				</div>
				<div class="box_content">
					<div class="cell">
						<div class="c">岗位职责:</div>
						<div class="ctext">{#$show.contents|nl2br#}</div>
						<div class="c">任职资格:</div>
						<div class="ctext">{#$show.briefly|nl2br#}</div>
					</div>
				</div>
			</div>
			<!-- 职位描述 End-->
			<!-- 职位信息 -->
			<div class="hunterbox_container job_detailed_box">
				<div class="h">
					<div class="t">其他信息</div>
					<div class="clear"></div>
				</div>
				<div class="box_content">
					<div class="cell">
						<div class="c">所属行业：<span>{#$show.trade_cn#}</span></div>
						<div class="c">公司规模：<span>{#$show.scale_cn#}</span></div>
						<!--<div class="c">所属部门：<span>{#$show.department#}</span></div>
						<div class="c">汇报对象：<span>{#$show.reporter#}</span></div>-->
						<div class="c">公司性质：<span>{#$show.nature_cn#}</span></div>
						<div class="c">职位类别：<span>{#$show.category_cn#}</span></div>
                        <div class="c">性别要求：<span>{#$show.sex_cn#}</span></div>
					</div>
				</div>
			</div>
			<!-- 职位信息 End-->
			<!-- 岗位要求 -->
			<!--<div class="hunterbox_container job_detailed_box">
				<div class="h">
					<div class="t">岗位要求</div>
					<div class="clear"></div>
				</div>
				<div class="box_content">
					<div class="cell">
						<div class="c">年龄要求：{#$show.age_cn#}</div>
						<div class="c">学历要求：{#$show.education_cn|default:"不限"#}</div>
						<div class="cright">性别要求：{#$show.sex_cn#}</div>
						<div class="c">工作经验：{#$show.experience_cn#}</div>
						<div class="c">语言要求：{#$show.languagecn|default:"不限"#}</div>
					</div>
				</div>
			</div>-->
			<!-- 岗位要求 End-->
		
			<!-- 举报 -->
			<!--<div class="hunterbox_container to_report">
				<div class="box_content">
					<div class="cell">
						<div class="apply_job_colorpiece" aid="{#$show.id#}">申请职位</div>
						<div class="report">-->
							<!-- Baidu Button BEGIN -->
							  <!--  <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
							        <a class="bds_qzone"></a>
							        <a class="bds_tsina"></a>
							        <a class="bds_tqq"></a>
							        <a class="bds_renren"></a>
							        <span class="bds_more">分享到</span>
							    </div>
								<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=659075" ></script>
								<script type="text/javascript" id="bdshell_js"></script>
								<script type="text/javascript">
									document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
								</script>
								<div class="clear"></div>	-->
							<!-- Baidu Button END -->
					<!--	</div>
					</div>
				</div>
			</div>-->
			<!-- 举报 End-->
			<!-- 其他职位 -->
			{#qishi_jobs_list set="分页显示:0,列表名:jobslist,显示数目:5,填补字符:...,职位名长度:8,企业名长度:19,会员UID:$show.uid,排序:rtime"#}
			{#if $jobslist#}
			<div class="hunterbox_container job_other_box">
				<div class="h">
					<div class="t">企业介绍</div>
					<div class="clear"></div>
				</div>
				<div class="box_content">
					<div class="box_content_main">{#$show.contents#}</div>
				</div>
			</div>
			{#/if#}
			<!-- 其他职位 End-->
		</div>
		<div class="between" style="border:1px solid #ccc;margin-left:10px;">
             <div class="hunterbox_container logo_hunter_box">
               <a href="{#$QISHI.site_dir#}" target="_blank"><img  src="{#$QISHI.site_template#}images/header/logo.png" style="height:100px;"/></a>
             </div>
			<!-- 猎头信息 -->
			<div class="hunterbox_container mine_hunter_box ">
				<div class="h">
					<div class="t">职位发布企业{#$show.uid#}</div>
					<div class="clear"></div>
				</div>
				<div class="box_content">
					{#qishi_company_show set="列表名:hunter,企业ID:"|cat:$show.company_id#}
					<div class="cell">
						<div class='info'>
							<div class="photo"><img src="{#$hunter.logo#}" width="159" height="56" border="0"></div>
							<div class="text">
								<div class="c cname"><a href="{#$hunter.company_url#}">{#$show.companyname#}</a></div>
								<div class="c">行业：<span>{#$hunter.trade_cn#}</span></div>
								<div class="c">规模：<span>{#$hunter.scale_cn#}</span></div>
                                <div class="c">性质：<span>{#$hunter.nature_cn#}</span></div>
								<div class="c">地址：<span>{#$hunter.district_cn#}</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 猎头信息 End-->
			<!-- 联系方式 -->
			<!--<div class="hunterbox_container hunter_contact_box">
				<div class="h">
					<div class="t">联系方式</div>
					<div class="clear"></div>
				</div>
				<div class="box_content jobs_contact"></div>
			</div>-->
			<!-- 联系方式 End-->
            
            <div class="hunterbox_container map_contact_box">
                <img  src="{#$QISHI.site_template#}images/hjs-map.png"/>
            </div>
			<!-- 推荐职位 -->
			<!--{#qishi_hunter_jobs_list set="分页显示:0,列表名:jobslist,显示数目:10,填补字符:...,职位名长度:8,企业名长度:19,推荐:1,排序:rtime"#}
			{#if $jobslist#}
			<div class="hunterbox_container service_enterprise">
				<div class="h">
					<div class="t">推荐职位</div>
					<div class="clear"></div>
				</div>
				<div class="box_content">
					{#foreach  from=$jobslist item=list#}
					<div class="c"><div class="jname"><a href="{#$list.jobs_url#}" target="_blank">{#$list.jobs_name#}</a></div><font style="color:#ff9900">{#$list.wage_cn#}</font></div>
						
					{#/foreach#}
				</div>
			</div>
			{#/if#}-->
			<!-- 推荐职位 End-->
		</div>
		<div class="clear"></div>
	</div>
	{#include file="footer.htm"#}
</body>
</html>