<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#if $smarty.get.key#}{#$smarty.get.key#} - {#/if#}{#if $smarty.get.jobcategory#}{#"QS_hunter_jobs,"|cat:$smarty.get.jobcategory|qishi_categoryname#} - {#/if#}{#if $smarty.get.trade#}{#"QS_trade,trade:"|cat:$smarty.get.trade|qishi_categoryname#} - {#/if#}{#if $smarty.get.citycategory#}{#"QS_district,"|cat:$smarty.get.citycategory|qishi_categoryname#} - {#/if#}{#if $smarty.get.wage#}{#"QS_hunter_wage,"|cat:$smarty.get.wage|qishi_categoryname#} - {#/if#}{#if $smarty.get.age#}{#"QS_hunter_age,"|cat:$smarty.get.age|qishi_categoryname#} - {#/if#}{#if $smarty.get.education#}{#"QS_education,"|cat:$smarty.get.education|qishi_categoryname#} - {#/if#}{#if $smarty.get.experience#}{#"QS_experience,"|cat:$smarty.get.experience|qishi_categoryname#} - {#/if#}{#if $smarty.get.settr#}{#$smarty.get.settr#}天内 - {#/if#}{#if $smarty.get.scale#}{#"QS_scale,"|cat:$smarty.get.scale|qishi_categoryname#} - {#/if#}悬赏贴  - {#$QISHI.site_name#}</title>
<meta name="description" content="{#$QISHI.site_name#}招聘岗位">
<meta name="keywords" content="{#$QISHI.site_name#},高级职位信息">
<meta name="author" content="找葫芦" />
<meta name="copyright" content="zhaohulu.com" />
<meta name="renderer" content="webkit"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<link href="{#$QISHI.site_template#}css/common.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_hunter_template#}css/hunter.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/header.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_hunter_template#}css/ui-dialog.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type='text/javascript' charset="utf-8"></script>
<script src="{#$QISHI.site_hunter_template#}js/jquery.hunter-jobs-search.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_hunter_template#}js/dialog-min.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_hunter_template#}js/dialog-min-common.js" type="text/javascript" language="javascript"></script>
<script src="{#$QISHI.site_hunter_template#}js/jquery.cookie.js" type='text/javascript'></script>
<script src="{#$QISHI.site_template#}js/jquery.autocomplete.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		//详细下拉
		$('.list-item-ctrl').each(function(){
			if ($(this).hasClass('ishow')) {
				$(this).parent().next().show();
			};
			$(this).on('click', function(){
				if ($(this).hasClass('ishow')) {
					$(this).removeClass('ishow');
					$(this).parent().next().hide();
					$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');  //IE7 BUG Fix
				}else{
					$(this).addClass('ishow');
					$(this).parent().next().show();
					$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');  //IE7 BUG Fix
				};
			});
		});
		//------发布需求
		$("#addjobxuqiu").click(function(){
			var url="{#$QISHI.site_dir#}user/user_ajax_login.php";
			var myDialog = dialog();
			myDialog.title('登录后即可发布职位');
			myDialog.width('500');
			myDialog.content("加载中...");
			myDialog.showModal();
			$.get(url, function(data){
				myDialog.content(data);
			});
		});	
		//查看视频
		$(".video_click").click(function(){
			var url="{#$QISHI.site_dir#}plus/ajax_video.php";
			/*var myDialog = dialog();
			myDialog.title('查看视频1');
			myDialog.width('850');
			myDialog.content("加载中...");
			myDialog.showModal();*/
			var html='';
			var video_id=$(this).attr('video_id');
			$.get(url,{'id':video_id}, function(data){
				$("#video_play").html(data);
				$("#video_play").show();
				var x=($(document).width()-850)/2;
				$("#video_play").css("left",x+'px');
				$("#heimu").show();
				//myDialog.content(data);
			});
			$("#heimu").click(function(){
				$("#video_play").hide();
				$("#video_play").html('');
				$(this).hide();
			});
		});	

		allaround("{#$QISHI.site_dir#}");
	    // 职位类别填充数据 
	    //jobs_filldata("#job_list", QS_hunter_jobs_parent, QS_hunter_jobs, "#result-list-job", "#aui_outer_job", "#job_result_show", "#jobcategory", "{#$QISHI.site_dir#}");
		// 所属行业填充数据
		//trade_filldata("#trad_list", QS_trade, "#aui_outer", "#result-list-trade", "#trade_result_show", "#trade", "{#$QISHI.site_dir#}");
		$(".tab-list").die().live('click', function(event) {
			$(this).addClass('select');
			$(".tab-detail").removeClass('select');
			$('.list-item-ctrl').removeClass('ishow');
			$(".info-list-detail").hide();
			$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');
		});
		$(".tab-detail").die().live('click', function(event) {
			$(this).addClass('select');
			$(".tab-list").removeClass('select');
			$('.list-item-ctrl').addClass('ishow');
			$(".info-list-detail").show();
			$('.infolist-row').removeClass('infolist-row').addClass('infolist-row');
		});
		$(".infolists .merger_com_box:last").css({"border-bottom":"0"});
		//单个职位  下拉显示
		$(".xiala").click(function(){
			if($(this).hasClass("ishow")) {
				$(this).parent().next().hide();
				$(this).removeClass("ishow");
			} else {
				$(this).parent().next().show();
				$(this).addClass("ishow");
			}
		});
		$("#infolists .infolist-row:last").css("border-bottom","none");
		//申请职位
		apply_jobs("{#$QISHI.site_dir#}");
	});
</script>
</head>
<div id="heimu" class="ui-popup-backdrop" style="display:none;opacity: 0.7; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; overflow: hidden; -webkit-user-select: none; z-index: 1024; background: rgb(0, 0, 0);" ></div>
<div id="video_play" style="position:fixed;left:200px;top:100px;z-index:9999;display:none"></div>
<body class="bgf5">
<body class="bgf5">
{#include file="../tpl_hunter/default/header-hunter.htm"#}
<div style="height:12px;line-height:12px;width:1200px;margin:0 auto;padding-top:15px;color:#999999;">
		当前位置：<a href="{#$QISHI.site_dir#}" style="color:#999999;">首页</a>>悬赏贴
	</div>
<!--<div class="container">
	<div id="filterSearch">
		<div class="top-search clearfix bgfff">
			<div class="t-search-box f-left">
				<div class="type-input-box f-left" id="hidden_input_box">
					<div class="key">{#$smarty.get.key|default:"请输入关键字"#}</div>
					<input type="text" name="key" id="key" value="{#$smarty.get.key#}" style="display:none;"/>
					<input name="jobcategory" id="jobcategory" type="hidden" value="{#$smarty.get.jobcategory#}" />
					<input name="trade" id="trade" type="hidden" value="{#$smarty.get.trade#}" />
					<input name="citycategory" id="citycategory" type="hidden" value="{#$smarty.get.citycategory#}" data-code="{#$QISHI.districtid#}" />
					<input type="hidden" name="wage" id="wage" value="{#$smarty.get.wage#}">
					<input type="hidden" name="age" id="age" value="{#$smarty.get.age#}">
					<input type="hidden" name="education" id="education" value="{#$smarty.get.education#}">
					<input type="hidden" name="experience" id="experience" value="{#$smarty.get.experience#}">
					<input type="hidden" name="settr" id="settr" value="{#$smarty.get.settr#}">
					<input type="hidden" name="nature" id="nature" value="{#$smarty.get.nature#}">
					<input type="hidden" name="scale" id="scale" value="{#$smarty.get.scale#}">
					<input type="hidden" name="sort" id="sort" value="{#$smarty.get.sort#}">
					<input type="hidden" name="page" id="page" value="{#$smarty.get.page#}">
				</div>
			</div>
			<div class="t-search-btn f-left"><input type="button" detype="QS_hunter_jobslist" id="searcnbtn" value="搜&nbsp;索" /></div>
		</div>
		<div class="fliter-wrap">
			<div class="filter-drop clearfix">
				<div class="filter-item f-left">
					<div class="choose-item">
						<div class="choose-control">
							<span class="cc-default" id="job_result_show">选择职位类别</span><i class="choose-icon"></i>-->
							<!-- 职位类别弹出框 -->
					<!--		<div class="aui_outer" id="aui_outer_job">
								<table class="aui_border">
									<tbody>
										<tr>
											<td class="aui_c">
												<div class="aui_inner">
													<table class="aui_dialog">
														<tbody>
															<tr>
																<td class="aui_main">
																	<div class="aui_content" style="padding: 0px;">
																		<div class="LocalDataMultiC" style="width:623px;">
																			<div class="selector-header"><span class="selector-title">职位选择</span><div></div><span id="jb-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																			<div class="data-row-head"><div class="data-row"><div class="data-row-side">最多选 <strong class="text-warning">3</strong> 项&nbsp;&nbsp;已选 <strong id="ars" class="text-warning">0</strong> 项</div><div id="result-list-job" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																			<div class="data-row-list data-row-main" id="job_list">-->
																				<!-- 列表内容 -->
							<!--												</div>
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>-->
							<!-- 职位类别弹出框 End-->
		<!--				</div>
					</div>
				</div>
				<div class="filter-item f-left">
					<div class="choose-item">
						<div class="choose-control">
							<span class="cc-default" id="trade_result_show">选择行业类别</span><i class="choose-icon"></i>-->
							<!-- 所属行业弹出框 -->
					<!--		<div class="aui_outer" id="aui_outer">
								<table class="aui_border">
									<tbody>
										<tr>
											<td class="aui_c">
												<div class="aui_inner">
													<table class="aui_dialog">
														<tbody>
															<tr>
																<td class="aui_main">
																	<div class="aui_content">
																		<div class="items jquery-localdata">
																			<div class="selector-header"><span class="selector-title">行业选择</span><div></div><span id="tr-selector-save" class="selector-save">确定</span><span class="selector-close">X</span><div class="clear"></div></div>

																			<div class="data-row-head"><div class="data-row"><div class="data-row-side">最多选 <strong class="text-warning">3</strong> 项&nbsp;&nbsp;已选 <strong id="arstrade" class="text-warning">0</strong> 项</div><div id="result-list-trade" class="result-list data-row-side-ra"></div></div><div class="cla"></div></div>
																			<div class="item-table">
																				<table class="options-table options-table-7">
																					<tbody class="item-list"><tr><td class="bno"><table><tbody id="trad_list">-->
																						<!-- 列表内容 -->
							<!--														</tbody></table></td></tr>
																					</tbody>
																				</table>
																			</div>
																		</div>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>-->
							<!-- 所属行业弹出框 End-->
<!--						</div>
					</div>
				</div>
			</div>
			<div id="subsiteBox" data-txt="工作地区,{#if $QISHI.districtid#}工作地区{#else#}地区子类{#/if#}"></div>
			<div class="filter-list-wrap clearfix">
				<div class="fl-type f-left">职位年薪：</div>
				<div class="fl-content r-choice f-left">
					{#qishi_get_classify set="列表名:wage,类型:QS_hunter_wage,显示数目:100"#}
					{#foreach from=$wage item=list#}
					<div class="fl-content-li{#if $list.id == $smarty.get.wage#} select{#/if#}" type="wage" code="{#$list.id#}">{#$list.categoryname#}</div>
					{#/foreach#}
				</div>
			</div>
			<div class="filter-list-wrap clearfix">
				<div class="fl-type f-left">年龄要求：</div>
				<div class="fl-content f-left">
					{#qishi_get_classify set="列表名:age,类型:QS_hunter_age,显示数目:100"#}
					{#foreach from=$age item=list#}
					<div class="fl-content-li{#if $list.id == $smarty.get.age#} select{#/if#}" type="age" code="{#$list.id#}">{#$list.categoryname#}</div>
					{#/foreach#}
				</div>
			</div>
			<div class="filter-list-wrap clearfix">
				<div class="fl-type f-left">更多筛选：</div>
				<div class="fl-content f-left">
					<div class="saixuan{#if $smarty.get.education#} selected{#/if#}">
						{#qishi_get_classify set="列表名:c_education,类型:QS_education"#}
						<div class="saixuans">
							<div class="line"></div>
							{#foreach from=$c_education item=list#}
							<a defvalue="{#$list.id#}"{#if $list.id == $smarty.get.education#} class="select"{#/if#} type="education" href="javascript:;">{#$list.categoryname#}</a>
							{#/foreach#}
						</div>
						学历要求
					</div>
					<div class="saixuan{#if $smarty.get.experience#} selected{#/if#}">
						{#qishi_get_classify set="列表名:c_experience,类型:QS_experience"#}
						<div class="saixuans">
							<div class="line"></div>
							{#foreach from=$c_experience item=list#}
							<a defvalue="{#$list.id#}"{#if $list.id == $smarty.get.experience#} class="select"{#/if#} type="experience" href="javascript:;">{#$list.categoryname#}</a>
							{#/foreach#}
						</div>
						工作经验
					</div>
					<div class="saixuan{#if $smarty.get.settr#} selected{#/if#}">
						<div class="saixuans">
							<div class="line"></div>
							<a defvalue="3"{#if $smarty.get.settr == 3#} class="select"{#/if#} type="settr" href="javascript:;">3天内</a>
							<a defvalue="7"{#if $smarty.get.settr == 7#} class="select"{#/if#} type="settr" href="javascript:;">7天内</a>
							<a defvalue="15"{#if $smarty.get.settr == 15#} class="select"{#/if#} type="settr" href="javascript:;">15天内</a>
							<a defvalue="30"{#if $smarty.get.settr == 30#} class="select"{#/if#} type="settr" href="javascript:;">30天内</a>
						</div>
						更新时间
					</div>
					<div class="saixuan{#if $smarty.get.scale#} selected{#/if#}">
						{#qishi_get_classify set="列表名:c_scale,类型:QS_scale"#}
						<div class="saixuans">
							<div class="line"></div>
							{#foreach from=$c_scale item=list#}
							<a defvalue="{#$list.id#}"{#if $list.id == $smarty.get.scale#} class="select"{#/if#} type="scale" href="javascript:;">{#$list.categoryname#}</a>
							{#/foreach#}
						</div>
						企业规模
					</div>
				</div>
			</div>
		</div>
		<div class="fliter-result clearfix" id="has_result">
			<div class="fr-type f-left">已选条件：</div>
			<div class="fr-content f-left rl">
			{#if $smarty.get.key#}
				<div class="has-select-item f-left" type="key">{#$smarty.get.key#}<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.jobcategory#}
				<div class="has-select-item f-left" type="jobcategory">职位类别<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.trade#}
				<div class="has-select-item f-left" type="trade">行业类别<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.citycategory#}
				<div class="has-select-item f-left" type="citycategory">地区类别<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.wage#}
				{#qishi_get_classify set="列表名:wage,类型:QS_hunter_wage,显示数目:100"#}
				{#foreach from=$wage item=list#}
				{#if $list.id == $smarty.get.wage#}
					<div class="has-select-item f-left" type="wage">{#$list.categoryname#}<i class="fliter-clear-icon"></i></div>
				{#/if#}
				{#/foreach#}
			{#/if#}
			{#if $smarty.get.age#}
				{#qishi_get_classify set="列表名:age,类型:QS_hunter_age,显示数目:100"#}
				{#foreach from=$age item=list#}
				{#if $list.id == $smarty.get.age#}
					<div class="has-select-item f-left" type="age">{#$list.categoryname#}<i class="fliter-clear-icon"></i></div>
				{#/if#}
				{#/foreach#}
			{#/if#}
			{#if $smarty.get.education#}
				{#qishi_get_classify set="列表名:c_education,类型:QS_education"#}
				{#foreach from=$c_education item=list#}
				{#if $list.id == $smarty.get.education#}
					<div class="has-select-item f-left" type="education">{#$list.categoryname#}<i class="fliter-clear-icon"></i></div>
				{#/if#}
				{#/foreach#}
			{#/if#}
			{#if $smarty.get.experience#}
				{#qishi_get_classify set="列表名:c_experience,类型:QS_experience"#}
				{#foreach from=$c_experience item=list#}
				{#if $list.id == $smarty.get.experience#}
					<div class="has-select-item f-left" type="experience">{#$list.categoryname#}<i class="fliter-clear-icon"></i></div>
				{#/if#}
				{#/foreach#}
			{#/if#}
			{#if $smarty.get.settr#}
				<div class="has-select-item f-left" type="settr">{#if $smarty.get.settr == 3#}3天内{#elseif $smarty.get.settr == 7#}7天内{#elseif $smarty.get.settr == 15#}15天内{#elseif $smarty.get.settr == 30#}30天内{#/if#}<i class="fliter-clear-icon"></i></div>
			{#/if#}
			{#if $smarty.get.scale#}
				{#qishi_get_classify set="列表名:c_scale,类型:QS_scale"#}
				{#foreach from=$c_scale item=list#}
				{#if $list.id == $smarty.get.scale#}
					<div class="has-select-item f-left" type="scale">{#$list.categoryname#}<i class="fliter-clear-icon"></i></div>
				{#/if#}
				{#/foreach#}
			{#/if#}
			</div>
			<div class="fliter-clear f-right" id="clear_all_selected"><a href="javascript:;" class="clear-link">清空所选</a></div>
		</div>
	</div>
</div>-->
<!-- 高薪职位 -->
{#qishi_jobs_list  set="分页显示:1,列表名:jobslist,显示数目:8,填补字符:...,职位名长度:8,企业名长度:15,描述长度:65,关键字:GET[key],职位分类:GET[jobcategory],行业:GET[trade],地区分类:GET[citycategory],工资:GET[wage],年龄:GET[age],学历:GET[education],工作经验:GET[experience],日期范围:GET[settr],公司规模:GET[scale],排序:GET[sort]"#}
<div class="jobinfolists">
	<div class="tit">
		<div class="sort">
			悬赏贴<span style="font-weight:normal;">找葫芦悬赏已累计解决587个人才招募任务</span>
		</div>
		<!--<div class="pagerow">
			<div class="pageminnav">{#$pagemin#}</div>
		</div>
		<div class="clear"></div>-->
	</div>
	<div class="infolists f-left" id="infolists"  style="width:885px;height:475px;overflow:hidden;">
	<!--	<div class="infolists-head clearfix">
			<label class="f-left"><input type="checkbox" name="selectall" id="selectall" class="checkbox" />全选</label>
			<div class="all-ctrl f-left"><input type="button" value="申请职位" class="all-down-btn deliver" /></div>
			<div class="list-tab f-right">
				<a href="javascript:;" id="list" class="tab-item tab-list">列表</a>
				<a href="javascript:;" id="detail" class="tab-item tab-detail">详细</a>
			</div>
		</div>-->
       <div style="height:400px;width:885px;"> 
            <div  class="infolists-head job">
              <div class="head-item item1 f-left" style="text-align:center">招聘需求</div>
              <div class="head-item item2 f-left">赏金额度</div>
              <div class="head-item item3 f-left"  style="text-align:right">需求人数</div>
            </div>

            {#if $jobslist#}
            <div class="info-list-wrap" style="border-bottom:1px solid #ccc;height:358px;">
                {#foreach from=$jobslist item=list#}
                <!-- 职位模式 -->
                <div class="infolist-row">
                    <div class="info-list-block job clearfix">
                        <div class="list-item item1 f-left">
                            <a href="{#$QISHI.site_dir#}hunter/hunter-jobs-show.php?id={#$list.id#}" class="underline" target="_blank">{#$list.jobs_name#}</a>
                        <!--	{#if $list.stick=="1"#}<img title="置顶信息" src="{#$QISHI.site_template#}images/ding.jpg" border="0" class="vtip"/>{#/if#}
                            {#if $list.emergency=="1"#}<img title="紧急招聘" src="{#$QISHI.site_template#}images/iconji.gif" border="0" class="vtip" />{#/if#}
                            {#if $list.recommend=="1"#}<img title="推荐职位" src="{#$QISHI.site_template#}images/iconjian.gif" border="0" class="vtip" />{#/if#}
                            {#if $list.graduate=="1"#}<img title="欢迎应届生投递简历" src="{#$QISHI.site_template#}images/ying.jpg" border="0" class="vtip"/>{#/if#}-->
                        </div>
                        <div class="list-item item2 f-left">10元</div>
                        <div class="list-item item3 f-left">{#$list.amount#}位</div>
                        <!--<div class="list-item item4 f-left">{#$list.district_cn#}</div>
                        <div class="list-item item5 f-left">{#$list.refreshtime_cn#}</div>
                        <a href="javascript:;" class="list-item-ctrl f-left"></a>-->
                    </div>
                    <!--<div class="info-list-detail clearfix">
                        <div class="info-text f-left">
                            <p>学历要求：{#$list.education_cn|default:"不限"#}&nbsp;&nbsp;|&nbsp;&nbsp;工作经验：{#$list.experience_cn#}&nbsp;&nbsp;|&nbsp;&nbsp;职位性质：{#$list.nature_cn|default:"全职"#}&nbsp;&nbsp;|&nbsp;&nbsp;招聘人数：{#$list.amount#}人&nbsp;&nbsp;|&nbsp;&nbsp;性别要求：{#$list.sex_cn|default:"不限"#}</p>
                            <div>岗位职责：{#$list.briefly#}</div>
                        </div>
                        <div class="info-control f-left">
                            <input type="button" value="申请职位" jobs_id="{#$list.id#}" class="apply-job-btn app_jobs" />
                        </div>
                    </div>-->
                    <div class="clear"></div>
                </div>
                <!-- 职位模式结束 -->
                {#/foreach#}
            </div>
		<!--<div class="infolists-head clearfix" style="border-top:1px solid #cccccc;border-bottom:none;">
			<label class="f-left"><input type="checkbox" name="selectall" id="selectall" class="checkbox" />全选</label>
			<div class="all-ctrl f-left"><input type="button" value="申请职位" class="all-down-btn deliver" /></div>
		</div>-->
        </div>
        <div style="height:60px;width:885px;margin-top:20px;">
        {#if $page#}
        <table border="0" align="center" cellpadding="0" cellspacing="0" class="link_bk">
                    <tr>
                        <td height="50" align="center"> <div class="page link_bk">{#$page#}</div></td>
                    </tr>
            </table>
        {#/if#}
		{#else#}
		<div class="emptytip">抱歉，没有符合此条件的信息！</div>
		{#/if#}
        </div>
	</div>
    <div class="reward-right  f-right">
    		{#qishi_ad set="显示数目:8,调用名称:QS_hunterindexright,列表名:ad,文字长度:12"#}
            {#foreach from=$ad item=list#}
          <div class="ad-row clearfix lazyload">  
             <div class="reward-right-items">
             	<a target="_blank" href="{#$list.img_url#}"><img src="{#$list.img_path#}" alt="{#$list.img_explain|default:"广告描述"#}" title="{#$list.img_explain|default:"广告描述"#}" width="300" height="113" border="0"/></a>
             </div>
          </div>
         	{#/foreach#}
    </div>
    <div class="clearfix"></div>
</div>

<!--悬赏流程 开始-->
 <div class="jobinfolists">
	<div class="tit">
		<div class="sort rz">
			悬赏流程<span style="font-weight:normal;">找葫芦悬赏已累计解决587个人才招募任务</span>
		</div>
	</div>
    <div class="cer-process">
       <div class="cer-process-center">
           <div class="cer-process-img">
              <div class="cer-process-img1 f-left">
                <img src="{#$QISHI.site_template#}images/hlg-img1.png"/>
              </div>
              <div class="cer-process-img2 f-left">
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <div class="clearfix"></div>
              </div>
              <div class="cer-process-img1 f-left">
                <img src="{#$QISHI.site_template#}images/hlg-img2.png"/>
              </div>
              <div class="cer-process-img2 f-left">
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <div class="clearfix"></div>
              </div>
               <div class="cer-process-img1 f-left">
                <img src="{#$QISHI.site_template#}images/hlg-img3.png"/>
              </div>
              <div class="cer-process-img2 f-left">
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <span class="cer-process-img2-img f-left"></span>
                <div class="clearfix"></div>
              </div>
               <div class="cer-process-img1 f-left">
                <img src="{#$QISHI.site_template#}images/hlg-img4.png"/>
              </div>
              <div class="clearfix"></div>
           </div>
           <div class="cer-process-text">
             <div class="cer-process-text-p f-left">1.发布悬赏需求</div>
             <div class="cer-process-text-p f-left">2.线索提供者提供求职线索</div>
             <div class="cer-process-text-p f-left">3.找葫芦人工审核匹配</div>
             <div class="cer-process-text-p f-left">4.成功面试,扣除面试佣金<p>成功入职,扣除入职佣金</p></div>
             <div class="clearfix"></div>
           </div>
       </div>
    </div>
	
</div>
<!--悬赏流程 结束-->

<!--常见问题 开始-->
 <div class="jobinfolists">
	<div class="tit">
		<div class="sort rz">
			常见问题<span style="font-weight:normal;">找葫芦悬赏已累计解决587个人才招募任务</span>
		</div>
	</div>
    <div class="common-problems">
       <div class="common-problems-left f-left">
          <div class="common-problems-one f-left">
             <div  class="common-problems-main">
             <h1 class="common-problems-h1">我是招聘企业HR<a href="" class="all-more f-right">更多>></a></h1>
             <p class="problem">什么是八戒悬赏？</p>
             <p class="answer">什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏</p>
             <p class="problem">什么是八戒悬赏套餐服务？</p>
             <p class="answer">什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏</p>
             <p class="problem">为什么选择套餐服务？</p>
             <p class="answer">什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏</p>
             <p class="problem">什么是八戒悬赏？</p>
             <p class="answer">什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏</p>
             </div>
          </div>
          <div class="common-problems-one f-left" style="border-left: 1px solid #ccc;">
             <div  class="common-problems-main">
              <h1 class="common-problems-h1">我是线索提供者<a href="" class="all-more f-right">更多>></a></h1>
            <p class="problem">什么是八戒悬赏？</p>
             <p class="answer">什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏</p>
             <p class="problem">什么是八戒悬赏套餐服务？</p>
             <p class="answer">什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏</p>
             <p class="problem">为什么选择套餐服务？</p>
             <p class="answer">什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏</p>
             <p class="problem">什么是八戒悬赏？</p>
             <p class="answer">什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏什么是八戒悬赏</p>
              </div>
          </div>
          <div class="clearfix"></div>
       </div>
       <div class="common-problems-right f-right">
           <div class="problems-right-title"><h1 class="problems-right-h1">故事回顾</h1></div>
           {#qishi_video set="列表名:video,显示数目:3,排序:addtime>desc"#}
           {#foreach from=$video item=list#}
           <div class="problems-right-items" style="height:118px;">
              <div class="problems-right-items-img f-left video_click" id="video" video_id="{#$list.id#}">
                  <div class="items-img-div"><img style="height:95px;width:100px;border-radius: 50%;" original="{#$QISHI.site_dir#}data/companyimg/original/{#$list.video_img#}" src="{#$QISHI.site_dir#}data/companyimg/original/{#$list.video_img#}"/></div>
                  <p class="problems-right-items-p">{#$list.u_name#}</p>
              </div>
              <div class="problems-right-items-text f-right">
                  <p class="problems-right-items-p2">{#$list.video_name#}</p>
                  <p class="problems-right-items-p3" style="height:95px;overflow:hidden;">{#$list.video_describe#}</p>
              </div>
              <div class="clearfix"></div>
           </div>
           {#/foreach#}
       </div>
       <div class="clearfix"></div>
    </div>   
	
</div>
<!--常见问题 结束-->

<!--发布开始-->
  <div  class="release-requirements">
      <h1>发布您的特殊招聘需求，天下人帮您找对口人才，您只需为成果付费，您还等什么？</h1>
      <a href="{#$QISHI.site_dir#}user/company/company_jobs.php?act=addjobs" target="_blank"><span class="release-requirements-a">立即发布需求</span></a>
  </div>
<!--发布结束-->

<script src="{#$QISHI.site_hunter_template#}js/jquery.jobs-list.js" type='text/javascript' ></script>

{#include file="footer.htm"#}
</body>
</html>