<div class="topnav">
<a href="?act=set_weixin" {#if  $navlabel=='set_weixin'#}class="select"{#/if#}><u>微信公众平台</u></a>
<a href="?act=set_menu" {#if  $navlabel=='set_menu'#}class="select"{#/if#}><u>自定义菜单</u></a>
<a href="?act=binding_list" {#if  $navlabel=='binding_list'#}class="select"{#/if#}><u>微信用户绑定列表</u></a>
<a href="?act=send_weixin_msglist" {#if  $navlabel=='send_weixin_msglist'#}class="select"{#/if#}><u>微信消息列表</u></a>
<a href="?act=rule" {#if  $navlabel=='rule'#}class="select"{#/if#}><u>微信通知规则</u></a>
<div class="clear"></div>
</div>