<!-- 头部 -->
<div id="header">
	<div class="top-nav-wrap" style="background-color:#f8f8f8;border-bottom:1px solid #C8C6C6;margin-bottom:1px;">
		<div class="top-nav clearfix">
			<div class="topleft">
				<p><img original="{#$list.img_path#}" src="{#$QISHI.site_template#}images/header/weixin01.png" alt="{#$list.img_explain#}" width="14" height="14" border="0" />手机找葫芦</p>
			</div>
			<div class="topright">
				<div class="station-choose">
					<div class="station-control">
						<div class="station-item">[ 切换站点 ]&nbsp;&nbsp;{#if $QISHI.subsite_districtname#}{#$QISHI.subsite_districtname#}{#else#}总站{#/if#}</div>
						<div class="station-drop-wrapper">
							<div class="drop-title clearfix">
								<h4 class="f-left">地区分站 · <a href="{#$QISHI.main_domain#}" class="underline">[总站]</a></h4>
								<span class="f-right">一站注册，多站发布</span>
							</div>
							<ul class="station-list clearfix">
								{#qishi_allsite set="列表名:city"#}
								{#foreach from=$city item=li#}
								<li class="f-left"><a href="{#$li.s_domain#}" class="underline">{#$li.s_districtname#}</a></li>
								{#/foreach#}
							</ul>
						</div>
					</div>
				</div>
			</div>
            
            <div class="nav-right f-right">
				<span class="nav-items">
                <span class="underline" id="more" style="cursor:pointer">网站导航<i class="station-arrow f-right"></i></span>
                </span>
			</div>
            <div style="display:none;min-height:150px;height:auto;width:180px;border:1px solid #e7e7e7;float:right;position:absolute;top: 35px;right:0px;background-color:#fff;padding:20px 15px;z-index:100;" id="nav_more">
            	{#qishi_nav set="调用名称:QS_top,列表名:list,分割:20"#}
				{#foreach from=$list item=list#}	
            	<div style="height:20px;width:50px;line-height:20px;float:left;text-align:center;margin:3px;">
                <a href="{#$list.url#}" target="{#$list.target#}" class="nav-li {#if $list.tag==$page_select && $list.tag!=""#}active{#/if#}">{#$list.title#}</a>
                </div>
                 {#/foreach#}
            </div>
			<div class="nav-right f-right">
				<span id="top_loginform"></span>
				<span class="nav-items"><a href="{#$QISHI.site_dir#}salary" class="underline">薪酬统计</a></span>
				<span class="nav-items"><a href="{#"QS_helplist"|qishi_url#}" class="underline">帮助中心</a></span>
				<span class="nav-items"><a href="{#$QISHI.site_dir#}plus/shortcut.php" class="underline">保存到桌面</a></span>
			</div>
		</div>
	</div>
</div>
<!-- 头部结束 -->
<!-- 头部结束 -->
<script src="{#$QISHI.site_template#}js/jquery.header.js" type="text/javascript" language="javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		header();
		//顶部部登录
		$.get("{#$QISHI.site_dir#}plus/ajax_user.php", {"act":"top_loginform"},
		function (data,textStatus)
		{			
		$("#top_loginform").html(data);
		}
		);
		$('.station-control').on('click', function(e) {
			if("{#$QISHI.sel_subsite_method#}"==0){
				$(this).find('.station-drop-wrapper').toggle();
				$('.station-item').toggleClass('open');
				e.stopPropagation();
				$(document).one('click', function(e) {
					$('.station-drop-wrapper').hide();
					$('.station-item').removeClass('open');
				});
			}else{
				location.href='{#$QISHI.site_dir#}substation';
			}
		});
		$('.station-drop-wrapper').on('click', function(e) {
			e.stopPropagation();
		});
		/*$("#more").toggle(function(){
			$("#nav_more").show();
			
		},function(){
			$("#nav_more").hide();
			
		});
		*/
			$("#more").live("click",function(){
		if($("#nav_more").attr('data') == "hide") {
			$(this).blur();
			$(this).parent().parent().before("<div class=\"menu_bg_layer\"></div>");
			$(".menu_bg_layer").height($(document).height());
			$(".menu_bg_layer").css({ width: $(document).width(), position: "absolute",left:"0", top:"0","z-index":"77","background-color":"#000000"});
			$(".menu_bg_layer").css("opacity",0);
			$("#nav_more").show();
			$("#nav_more").attr('data',"show");
			$(".menu_bg_layer, .station_close").click(function() {
				$("#nav_more").hide();
				$("#nav_more").attr('data',"hide");
				$(".menu_bg_layer").remove();
			});
		} else {
			$("#nav_more").hide();
			$("#nav_more").attr('data',"hide");
		}
	});

		
		$('.topleft').hover(function(){
		  $(".hiden-app").show();
	    }, function(){
		$(".hiden-app").hide();
	    });
		//------发布需求
		$("#xinyong1").click(function(){
			var url="{#$QISHI.site_dir#}user/user_ajax_xinyong.php";
			var myDialog = dialog();
			myDialog.title('职业信用评价查询');
			myDialog.width('500');
			myDialog.content("加载中...");
			myDialog.showModal();
			$.get(url, function(data){
				myDialog.content(data);
			});
		});	
	});
</script>